apiVersion: v2
name: common
description: Library Chart for Sysdig components to share common data


# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: library

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 1.3.1

maintainers:
  - name: AlbertoBarba
    email: alberto.barba@sysdig.com
  - name: aroberts87
    email: adam.roberts@sysdig.com
  - name: francesco-furlan
    email: francesco.furlan@sysdig.com
  - name: iurly
    email: gerlando.falauto@sysdig.com
  - name: mavimo
    email: marcovito.moscaritolo@sysdig.com
