apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cluster-shield.configmapName" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "cluster-shield.labels" . | nindent 4 }}
data:
  cluster-shield.yaml: |
    {{- include "cluster-shield.configMap" . | nindent 4 }}
