name: update shield and agent charts for new host-shield release

scms:
  github:
    kind: "github"
    spec:
      user: "updatecli"
      email: "updatecli@sysdig.com"
      owner: "sysdiglabs"
      repository: "charts"
      token: '{{ requiredEnv "GITHUB_TOKEN" }}'
      username: draios-jenkins
      branch: "main"

actions:
  github:
    kind: "github/pullrequest"
    scmid: "github"
    spec:
      automerge: true
      description: 'bump agent image tags for `agent` and `shield` charts to {{ requiredEnv "AGENT_RELEASE" }}'
      labels:
        - "automated PR"
      mergemethod: squash
      title: 'feat(agent,shield): release agent {{ requiredEnv "AGENT_RELEASE" }}'

sources:
  agentRelease:
    kind: dockerimage
    spec:
      image: quay.io/sysdig/agent
      tagfilter: '{{ requiredEnv "AGENT_RELEASE" }}'
      versionfilter:
        kind: regex
        pattern: '[0-9]+\.[0-9]+\.[0-9]+$'

targets:
  updateAgentChart:
    name: "update the agent chart"
    kind: helmchart
    scmid: github
    spec:
      name: "charts/agent"
      file: values.yaml
      key: "$.image.tag"
      appVersion: true
      versionincrement: auto

  updateShieldChart:
    name: "update the shield chart"
    kind: helmchart
    scmid: github
    spec:
      name: "charts/shield"
      file: values.yaml
      key: "$.host.image.tag"
      versionincrement: auto

  updateShieldReadme:
    name: "update the shield readme"
    kind: shell
    scmid: github
    disablesourceinput: true
    dependson:
      - updateShieldChart
    spec:
      shell: /bin/bash
      command: make docs
