{{- if .Values.deploy }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "cspmCollector.fullname" . }}
  labels:
{{ include "cspmCollector.labels" . | indent 4 }}
data:
{{- $env := "PRODUCTION" -}}
{{ if .Values.debug }}
  {{- $env = "DEVELOPMENT" -}}
{{ end}}
  environment: {{ $env }}
  included_namespaces: {{ .Values.namespaces.included | quote}}
  excluded_namespaces: {{ .Values.namespaces.excluded | quote }}
  included_workloads: {{ .Values.workloads.included | quote }}
  excluded_workloads: {{ .Values.workloads.excluded | quote }}
  health_interval_minutes: {{ .Values.healthIntervalMin | default 5 | quote }}
  external_nats_url: {{ include "cspmCollector.natsUrl" . }}
  cluster_name: {{ required "A valid .Values.clusterName is required" .Values.clusterName }}
{{- end }}
