{{- if not (include "nodeAnalyzer.gke.autopilot" .) }}
{{- if and (include "deploy-na" .) .Values.rbac.create }}
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-node-analyzer
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
rules:
- apiGroups:
    - ""
    - apps
    - batch
    - extensions
  resources:
    - "namespaces"
    - "deployments"
    - "replicasets"
    - "daemonsets"
    - "statefulsets"
    - "pods"
    - "cronjobs"
    - "jobs"
    - "nodes"
    - "nodes/proxy"
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - flowcontrol.apiserver.k8s.io
  resources:
    - "flowschemas"
  verbs:
    - list
- apiGroups:
    - ""
  resources:
    - configmaps
    - endpoints
    - nodes
    - pods/log
    - secrets
    - serviceaccounts
    - replicationcontrollers
  verbs:
    - get
    - list
    - watch
- apiGroups:
    - rbac.authorization.k8s.io
  resources:
    - clusterrolebindings
    - rolebindings
    - roles
  verbs:
    - list
- apiGroups:
    - machineconfiguration.openshift.io
  resources:
    - machineconfigpools
    - machineconfigs
  verbs:
    - get
    - list
- apiGroups:
    - operator.openshift.io
  resources:
    - kubeapiservers
    - openshiftapiservers
  verbs:
    - get
    - list
- apiGroups:
    - config.openshift.io
  resources:
    - clusteroperators
    - apiservers
    - oauths
    - networks
    - images
  verbs:
    - get
- apiGroups:
    - security.openshift.io
  resources:
    - securitycontextconstraints
  verbs:
    - get
    - list
{{- if and .Values.nodeAnalyzer.benchmarkRunner.includeSensitivePermissions .Values.nodeAnalyzer.benchmarkRunner.deploy }}
- apiGroups:
    - ""
  resources:
    - pods/exec
  verbs:
    - create
- apiGroups:
    - ""
  resources:
    - pods
  verbs:
    - create
    - delete
{{- end }}
{{- if and .Values.psp.create (include "nodeAnalyzer.kubeVersionLessThan" (dict "root" . "major" 1 "minor" 25)) }}
- apiGroups:
    - "policy"
  resources:
    - "podsecuritypolicies"
  resourceNames:
    - "{{ .Release.Name }}-node-analyzer"
  verbs:
    - "use"
{{- end }}
{{- end }}
{{- end }}
