{{ if .Values.global.kspm.deploy }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "nodeAnalyzer.fullname" . }}-kspm-analyzer
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
data:
{{- $env := "PRODUCTION" -}}
{{ if .Values.nodeAnalyzer.kspmAnalyzer.debug }}
  {{- $env = "DEVELOPMENT" -}}
{{ end}}
  environment: {{ $env }}
  external_nats_url: {{ include "nodeAnalyzer.natsUrl" . }}
  cluster_name: {{ required "A valid clusterName is required" (include "nodeAnalyzer.clusterName" .) }}
  agent_app_name: {{ include "nodeAnalyzer.name" . }}-node-analyzer
  {{- if hasKey .Values.nodeAnalyzer "sslVerifyCertificate" }}
  ssl_verify_certificate: "{{ .Values.nodeAnalyzer.sslVerifyCertificate }}"
  {{- end }}
  {{- if (.Values.nodeAnalyzer.httpProxy | default .Values.global.proxy.httpProxy) }}
  http_proxy: {{ .Values.nodeAnalyzer.httpProxy | default .Values.global.proxy.httpProxy }}
  {{- end -}}
  {{- if (.Values.nodeAnalyzer.httpsProxy | default .Values.global.proxy.httpsProxy) }}
  https_proxy: {{ .Values.nodeAnalyzer.httpsProxy | default .Values.global.proxy.httpsProxy }}
  {{- end -}}
  {{- if (.Values.nodeAnalyzer.noProxy | default .Values.global.proxy.noProxy) }}
  no_proxy: {{ .Values.nodeAnalyzer.noProxy | default .Values.global.proxy.noProxy }}
  {{- end -}}
{{- end -}}
