{{- if not (include "nodeAnalyzer.gke.autopilot" .) }}
{{- if and (include "deploy-na" .) .Values.rbac.create }}
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ .Release.Name }}-node-analyzer
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
subjects:
  - kind: ServiceAccount
    name: {{ template "nodeAnalyzer.serviceAccountName" .}}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ .Release.Name }}-node-analyzer
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}