{{- if not ( include "nodeAnalyzer.accessKeySecret" . ) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "nodeAnalyzer.fullname" . }}
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
type: Opaque
data:
 access-key : {{ include "nodeAnalyzer.accessKey" . | b64enc | quote }}
{{- end }}