{{- if and (include "deploy-na" .) .Values.nodeAnalyzer.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "nodeAnalyzer.serviceAccountName" .}}
  namespace: {{ include "nodeAnalyzer.namespace" . }}
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
{{- end }}