{{- if .Values.nodeAnalyzer.serviceAccount.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "nodeAnalyzer.serviceAccountName" .}}
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
{{- end }}
