{{- if .Values.webhook.rbac.create  }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}
rules:
- apiGroups:
  - ""
  resourceNames:
  - kube-system
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - ""
  resources:
  - pods
{{- if .Values.webhook.acConfig }}
  - configmaps
{{- end }}
  verbs:
  - get
{{- if .Values.webhook.acConfig }}
- apiGroups:
  - "batch"
  resources:
  - jobs
  verbs:
  - create
  - get
  - delete
{{- end }}
- apiGroups:
  - "apps"
  resources:
  - deployments
  - replicasets
  - statefulsets
  - daemonsets
  verbs:
  - get
{{- end }}
