apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
data:
  SECURE_URL: "{{ .Values.sysdig.url | default (printf "https://%s" (include "admissionController.apiEndpoint" .)) }}"
  {{- if .Values.scanner.enabled }}
  SCANNER_URL: http://{{ include "admissionController.scanner.fullname" . }}:{{ .Values.scanner.service.port }}
  {{- else }}
  SCANNER_URL: ""
  {{- end }}
  CLUSTER_NAME: {{ include "clusterName" . }}
  LOG_LEVEL: "{{ .Values.webhook.logLevel }}"
  VERIFY_SSL: "{{ .Values.verifySSL }}"
  K8S_AUDIT_DETECTIONS: "{{ .Values.features.k8sAuditDetections }}"
  DENY_ON_ERROR: "{{ .Values.webhook.denyOnError }}"
  DRY_RUN: "{{ .Values.webhook.dryRun }}"
  HTTP_TIMEOUT: "{{ .Values.webhook.timeoutSeconds }}s"
  {{- if .Values.features.kspmAdmissionController}}
  SERVICE_PORT: "{{ .Values.webhook.v2.http.port }}"
  CERT_LOCATION: /cert
  EXTERNAL_NATS_URL:  {{ include "admissionController.natsUrl" . }}
  NATS_INSECURE: "{{.Values.webhook.v2.nats.insecure}}"
  {{- end}}
  WORKERS: "{{.Values.webhook.workers | default 2 }}"
