apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{- include "admissionController.webhook.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.webhook.replicaCount }}
  selector:
    matchLabels:
      {{- include "admissionController.webhook.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- include "admissionController.webhook.podAnnotations" . | nindent 8 }}
        checksum/configmap: {{ include (print $.Template.BasePath "/webhook/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/webhook/secret.yaml") . | sha256sum }}
        checksum/certs: {{ include (print $.Template.BasePath "/webhook/admissionregistration.yaml") . | sha256sum }}
      labels:
        {{- include "admissionController.webhook.labels" . | nindent 8 }}
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    {{- include "admissionController.webhook.selectorLabels" . | nindent 20 }}
              weight: 10
      {{- with .Values.webhook.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "admissionController.webhook.serviceAccountName" . }}
      securityContext:
        {{- if .Values.webhook.podSecurityContext }}
        {{- toYaml .Values.webhook.podSecurityContext | nindent 8 }}
        {{- else }}
        {{- include "admissionController.webhook.defaultSecurityContext" . | nindent 8 }}
        {{- end }}
      {{- if .Values.webhook.hostNetwork }}
      hostNetwork: true
      {{- end }}
      containers:
      {{- if .Values.webhook.v2.enabled}}
        - name: {{.Values.webhook.v2.container.name}}
          image: {{ .Values.webhook.v2.container.image }}
        
          env:
            {{- if (or (include "webhook.httpProxy" .) (include "webhook.httpsProxy" .) (include "webhook.noProxy" .) )}}
            - name: HTTP_PROXY
              value: {{ include "webhook.httpProxy" . }}
            - name: HTTPS_PROXY
              value: {{ include "webhook.httpsProxy" . }}
            - name: NO_PROXY
              value: {{ include "webhook.noProxy" . }},{{ include "admissionController.scanner.fullname" . }}
            {{- end }}
            - name: ACCESS_KEY
              value: {{.Values.global.sysdig.accessKey}}
          ports:
            - containerPort: {{ .Values.webhook.http.port }}
              protocol: TCP

          envFrom:
            - configMapRef:
                name: {{ include "admissionController.webhook.fullname" . }}
          volumeMounts:
            - name: cert
              mountPath: /cert
              readOnly: true
          resources:
            {{- toYaml .Values.webhook.resources | nindent 12 }}
      {{- end}}
        - name: admission-controller
          image: "{{ include "admissionController.webhook.image" . }}"
          {{- if .Values.webhook.customEntryPoint }}
          command: {{ .Values.webhook.customEntryPoint | toYaml | nindent 10 }}
          {{- else }}
          args:
            {{- with .Values.webhook.http.port }}
            - --http_port
            - {{ . | quote }}
            {{- end }}
            - --tls_cert_file
            - /cert/tls.crt
            - --tls_private_key_file
            - /cert/tls.key
          {{- end }}
          securityContext:
            {{- if .Values.webhook.securityContext }}
            {{- toYaml .Values.webhook.securityContext | nindent 12 }}
            {{- else }}
            {{- include "admissionController.webhook.defaultSecurityContext" . | nindent 12}}
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
            {{- end }}
          imagePullPolicy: {{ .Values.webhook.image.pullPolicy }}
          env:
            {{- if (or (include "webhook.httpProxy" .) (include "webhook.httpsProxy" .) (include "webhook.noProxy" .) )}}
            - name: HTTP_PROXY
              value: {{ include "webhook.httpProxy" . }}
            - name: HTTPS_PROXY
              value: {{ include "webhook.httpsProxy" . }}
            - name: NO_PROXY
              value: {{ include "webhook.noProxy" . }},{{ include "admissionController.scanner.fullname" . }}
            {{- end }}
            {{- if .Values.webhook.ssl.ca.cert }}
            - name: SSL_CERT_FILE
              value: /ca-cert/root_ca_file.crt # mounted from the secret
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.webhook.http.port }}
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
              scheme: HTTPS
          readinessProbe:
            httpGet:
              path: /health
              port: http
              scheme: HTTPS
          envFrom:
            {{- if or (include "sysdig.secureAPIToken" .) (include "sysdig.secureAPITokenSecret" .) }}
            - secretRef:
                {{- if (include "sysdig.secureAPIToken" .) }}
                name: {{ include "admissionController.webhook.fullname" . }}
                {{- else }}
                name: {{ include "sysdig.secureAPITokenSecret" . }}
                {{- end }}
            {{- end }}
            - configMapRef:
                name: {{ include "admissionController.webhook.fullname" . }}
          volumeMounts:
            - name: cert
              mountPath: /cert
              readOnly: true
            {{- if .Values.webhook.ssl.ca.cert }}
            - name: ca-cert
              mountPath: /ca-cert
              readOnly: true
            {{- end }}
          resources:
            {{- toYaml .Values.webhook.resources | nindent 12 }}
      volumes:
        - name: cert
          secret:
            secretName: {{ include "admissionController.webhook.fullname" . }}-tls
      {{- if .Values.webhook.ssl.ca.cert }}
        - name: ca-cert
          secret:
            secretName: {{ include "admissionController.webhook.fullname" . }}-ca
      {{- end }}
    {{- with .Values.webhook.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.webhook.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- if .Values.webhook.priorityClassName }}
      priorityClassName: "{{ .Values.webhook.priorityClassName }}"
    {{- end }}
    {{- with .Values.webhook.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
