{{- if (include "sysdig.secureAPIToken" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
stringData:
  SECURE_API_TOKEN: {{ include "sysdig.secureAPIToken" . }}
{{- end }}
---
{{- if .Values.webhook.ssl.ca.cert }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}-ca
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
data:
  root_ca_file.crt: {{ .Values.webhook.ssl.ca.cert | b64enc | quote }}
{{- end }}
---
{{- if (include "sysdig.accessKey" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}-secrets
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
data:
  access_key: {{ include "sysdig.accessKey" . | b64enc | quote }}

{{- end }}