{{- if (include "sysdig.secureAPIToken" .) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
stringData:
  SECURE_API_TOKEN: {{ include "sysdig.secureAPIToken" . }}
{{- end }}
---
{{- if or .Values.webhook.ssl.ca.cert (eq (include "sysdig.custom_ca.useValues"  (dict "global" .Values.global.ssl "component" .Values.webhook.ssl)) "true") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}-ca
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
data:
  {{- if or .Values.webhook.ssl.ca.cert }}
  root_ca_file.crt: {{ .Values.webhook.ssl.ca.cert | b64enc | quote }}
  {{- end }}
  {{- if eq (include "sysdig.custom_ca.useValues"  (dict "global" .Values.global.ssl "component" .Values.webhook.ssl)) "true" }}
  {{ include "sysdig.custom_ca.keyName" (dict "global" .Values.global.ssl "component" .Values.webhook.ssl) }}: {{ include "sysdig.custom_ca.cert" (dict "global" .Values.global.ssl "component" .Values.webhook.ssl "Files" .Subcharts.common.Files) | b64enc | quote }}
  {{- end }}
{{- end }}
---
{{- if .Values.features.kspmAdmissionController }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}-access-key
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{ include "admissionController.webhook.labels" . | nindent 4 }}
data:
  access_key: {{ include "sysdig.accessKey" . | b64enc | quote }}
{{- end }}
