apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admission-controller.webhook.fullname" . }}
  labels:
    {{ include "admission-controller.webhook.labels" . | nindent 4 }}
stringData:
  SECURE_API_TOKEN: {{ required "value 'sysdig.secureAPIToken' is required, but is not set" .Values.sysdig.secureAPIToken }}