{{- if .Values.serviceAccounts.webhook.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "admissionController.webhook.serviceAccountName" . }}
  labels:
{{ include "admissionController.webhook.labels" . | nindent 4 }}
  {{- with .Values.serviceAccounts.webhook.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
