apiVersion: v1
kind: Service
metadata:
  name: {{ include "admissionController.webhook.fullname" . }}
  labels:
    {{- include "admissionController.webhook.labels" . | nindent 4 }}
spec:
  type: {{ .Values.webhook.service.type }}
  ports:
  - name: http
    port: {{ .Values.webhook.service.port }}
    targetPort: http
    protocol: TCP
  selector:
    {{- include "admissionController.webhook.selectorLabels" . | nindent 4 }}
