apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "registry-scanner.fullname" . }}
rules:
- apiGroups: ["batch"]
  resources: ["jobs"]
  verbs: ["create", "get", "delete", "watch"]
- apiGroups: [""]
  resources: ["pods", "pods/log"]
  verbs: ["get", "list"]
{{- if eq .Values.config.registryType "ocp" }}
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["list"]  # Required for ROSA audience auto-detection
{{- end }}
