{{- if not .Values.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "registry-scanner.fullname" . }}
  labels:
{{ include "registry-scanner.labels" . | indent 4 }}
type: Opaque
data:
  secureAPIToken: {{ .Values.config.secureAPIToken | b64enc | quote }}
  registryUser: {{ .Values.config.registryUser | b64enc | quote }}
  registryPassword: {{ .Values.config.registryPassword | b64enc | quote }}
{{- end }}