apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cloud-connector.fullname" . }}
  labels:
    {{- include "cloud-connector.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "cloud-connector.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
      labels:
        {{- include "cloud-connector.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "cloud-connector.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
            periodSeconds: 60
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: aws_access_key_id
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: aws_secret_access_key
            - name: AWS_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: aws_region
            - name: SECURE_URL
              value: {{ .Values.sysdig.url }}
            - name: SECURE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: secure_api_token
            - name: VERIFY_SSL
              value: {{ .Values.sysdig.verifySSL | quote }}
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: /var/secrets/gcp/gcp_credentials
            - name: TELEMETRY_DEPLOYMENT_METHOD
              value: {{ .Values.telemetryDeploymentMethod | default "helm" | quote }}
            - name: AZURE_EVENT_HUB_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: azure_event_hub_connection_string
            - name: AZURE_EVENTGRID_EVENT_HUB_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: azure_event_grid_event_hub_connection_string
            - name: AZURE_TENANT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: azure_tenantId
            - name: AZURE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: azure_clientId
            - name: AZURE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: azure_clientSecret
            - name: AZURE_REGION
              valueFrom:
                secretKeyRef:
                  name: {{ include "cloud-connector.secretname" . }}
                  key: azure_region
          {{- if .Values.extraEnvVars }}
          {{- toYaml .Values.extraEnvVars | nindent 12}}
          {{- end }}
          volumeMounts:
            - mountPath: /home/sysdig
              name: home-dir
            - mountPath: /etc/cloud-connector
              name: cloud-connector-config
            - mountPath: /var/secrets/gcp
              name: google-application-credentials
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: home-dir
          emptyDir: {}
        - name: cloud-connector-config
          configMap:
            name: {{ include "cloud-connector.fullname" . }}
        - name: google-application-credentials
          secret:
            secretName: {{ include "cloud-connector.secretname" . }}
            items:
              - key: gcp_credentials
                path: gcp_credentials
