{{- if not .Values.existingSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cloud-connector.fullname" . }}
  labels:
    {{- include "cloud-connector.labels" . | nindent 4 }}
type: Opaque
data:
  {{- if not .Values.aws.roleBasedAccess }}
  aws_access_key_id: {{ .Values.aws.accessKeyId | b64enc | quote }}
  aws_secret_access_key: {{ .Values.aws.secretAccessKey | b64enc | quote }}
  aws_region: {{ .Values.aws.region | b64enc | quote }}
  {{- end }}
  gcp_credentials: {{ .Values.gcpCredentials | b64enc | quote }}
  azure_event_hub_connection_string: {{ .Values.azure.eventHubConnectionString | b64enc | quote }}
  azure_event_grid_event_hub_connection_string: {{ .Values.azure.eventGridEventHubConnectionString | b64enc | quote }}
  azure_tenantId: {{ .Values.azure.tenantId | b64enc | quote }}
  azure_clientId: {{ .Values.azure.clientId | b64enc | quote }}
  azure_clientSecret: {{ .Values.azure.clientSecret | b64enc | quote }}
  azure_region: {{ .Values.azure.region | b64enc | quote }}
  secure_api_token: {{ required "value 'sysdig.secureAPIToken' is required, but is not set" .Values.sysdig.secureAPIToken | b64enc | quote }}
{{- end }}
