apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cloud-connector.fullname" . }}
  labels:
    {{- include "cloud-connector.labels" . | nindent 4 }}
type: Opaque
data:
  aws_access_key_id: {{ .Values.aws.accessKeyId | b64enc | quote }}
  aws_secret_access_key: {{ .Values.aws.secretAccessKey | b64enc | quote }}
  aws_region: {{ .Values.aws.region | b64enc | quote }}
  sysdig_agent_key: {{ .Values.sysdig.agentKey | b64enc | quote }}
  secure_api_token: {{ .Values.sysdig.secureApiToken | b64enc | quote }}
