apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cluster-scanner.fullname" . }}
  namespace: {{ include "cluster-scanner.namespace" . }}
  labels:
   {{- include "cluster-scanner.labels" . | nindent 4 }}
data:
  {{- if or (hasPrefix "https://" (include "cluster-scanner.apiHost" .)) (hasPrefix "http://" (include "cluster-scanner.apiHost" .)) }}
  sysdig_host: {{ include "cluster-scanner.apiHost" . }}
  {{ else }}
  sysdig_host: https://{{ include "cluster-scanner.apiHost" . }}
  {{ end -}}
  sysdig_verify_certificate: {{ .Values.sslVerifyCertificate | quote }}
  cluster_name: {{ .Values.global.clusterConfig.name }}
  root_namespace: {{ .Values.rootNamespace }}
  eve_enabled: {{ .Values.eveEnabled | quote }}
  eve_integration_enabled: {{ .Values.eveIntegrationEnabled | quote }}
  logging_level: {{ .Values.global.loggingLevel }}
  rsi_pprof_enabled: {{ .Values.runtimeStatusIntegrator.pprofEnabled | default "false" | quote }}
  ise_pprof_enabled: {{ .Values.imageSbomExtractor.pprofEnabled | default "false" | quote }}
{{- include "cluster-scanner.modeConfig" . | nindent 2 }}
  js_server_user: {{ .Values.runtimeStatusIntegrator.natsJS.user }}
  js_server_url: "nats://{{- include "cluster-scanner.fullname" . }}:4222"
  js_server_tls_enabled: {{ .Values.runtimeStatusIntegrator.natsJS.tls.enabled | default "true" | quote }}
  rsi_leaderelection_lock_name: {{ .Values.runtimeStatusIntegrator.leaderElectionLeaseNameOverride | default (include "cluster-scanner.fullname" .) }}
  rsi_leaderelection_lock_namespace: {{ .Values.runtimeStatusIntegrator.leaderElectionLeaseNamespaceOverride | default .Release.Namespace }}
  rsi_service_name: {{ include "cluster-scanner.fullname" . }}
  {{- if .Values.global.proxy.httpProxy }}
  http_proxy: {{ .Values.global.proxy.httpProxy }}
  {{- end -}}
  {{- if .Values.global.proxy.httpsProxy }}
  https_proxy: {{ .Values.global.proxy.httpsProxy }}
  {{- end -}}
  {{- if .Values.global.proxy.noProxy }}
  no_proxy: {{ .Values.global.proxy.noProxy }}
  {{- end -}}
{{- include "cluster-scanner.rsiJsConfig" . | nindent 2 }}
{{- include "cluster-scanner.iseJsConfig" . | nindent 2 }}
  ise_cache_type: {{ .Values.imageSbomExtractor.cache.type }}
{{- include "cluster-scanner.redisCacheConfig" . | nindent 2 }}
{{- include "cluster-scanner.localCacheConfig" . | nindent 2 }}
{{- include "cluster-scanner.enablePlatformServicesConfig" . | nindent 2 }}
