apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-scanner.fullname" . }}
  namespace: {{ include "cluster-scanner.namespace" . }}
  labels:
    {{- include "cluster-scanner.labels" . | nindent 4 }}
type: Opaque
data:
  sysdig_access_key: {{ required "please provide a sysdig access key" .Values.global.sysdig.accessKey | b64enc | quote }}
  js_server_password: {{ .Values.runtimeStatusIntegrator.natsJS.password | default (randAlphaNum 32) | b64enc | quote }}
{{- if .Values.imageSbomExtractor.cache.redis }}
  cache_redis_password: {{ .Values.imageSbomExtractor.cache.redis.password | b64enc | quote }}
{{- end }}
