sysdig:
  secureAPIToken: ${SECURE_API_TOKEN}
clusterName: CI-Cluster

webhook:
  ssl:
    ca:
      cert: |
        -----BEGIN CERTIFICATE-----
        MIIC5zCCAc+gAwIBAgIJAPzgoOe8gf7eMA0GCSqGSIb3DQEBBQUAMCAxHjAcBgNV
        BAMTFXN5c2RpZy1leGFtcGxlLWNoYXJ0czAeFw0yMjAxMjEwOTQxMzVaFw0zMjAx
        MTkwOTQxMzVaMCAxHjAcBgNVBAMTFXN5c2RpZy1leGFtcGxlLWNoYXJ0czCCASIw
        DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMhqr9oTv+AD7wP1RoBu3RPdthYK
        4BEizy4+Eh2lSCNnbSWTy172V181I7mEcDvnddTWz895BkVTRrSwyjCh25/pNxJJ
        7mKAT4Xo11X5d8gbKXJoR8kutFVoAsY0bHi5TQ1uCIC6w67GQVsphmaSanfrD06z
        dYbyuRmGuHaffECp7RvOrAuaxyG4jOgDRk7e9SV38Rs4knv7cDT9C91kpVlZEEDv
        7wCOgLPEdxddClLB1OCRNQERXaAHfz18yWtUQW5ZWS8PuCTlNhC8g5PghqHDobhf
        Fc9zD6BoK+YO8TSVWNOIll+1RlOEBtEsCGHZ3RcvXNDu+wBaYP1MqtG2vFUCAwEA
        AaMkMCIwIAYDVR0RBBkwF4IVc3lzZGlnLWV4YW1wbGUtY2hhcnRzMA0GCSqGSIb3
        DQEBBQUAA4IBAQC3DHjxyWKwtqzU2KfJc+wVqsTPdyzc/fQUpvkkD84avNycmiZP
        mJALph/IMlZ8leYi+kbH4egMHmRutmpLV2cOjozYKEBeqBhPesKbFSxRHW2iNJSr
        l4lFyg1Y8TTMdr9wjxu8TkIzP9p4NQgajPLD8VsxSKSe5azRA5i3oUzk5Edn13Yj
        WirNI49DZYXaxrx5xGkKLZ6++IFwQFXOit7yvE1eQQIsZrDAEyU/KXp9kbyxlQwZ
        gfE2elzgom9LZuSB33qIPASwtunelTHnKJPadBbYL3V7W33+DtGl2NhK1pGn07w2
        HKqPVSj3/vnCWV/miAs8BgJz+RrphtegNnAd
        -----END CERTIFICATE-----
      key: |
        -----BEGIN RSA PRIVATE KEY-----
        MIIEowIBAAKCAQEAyGqv2hO/4APvA/VGgG7dE922FgrgESLPLj4SHaVII2dtJZPL
        XvZXXzUjuYRwO+d11NbPz3kGRVNGtLDKMKHbn+k3EknuYoBPhejXVfl3yBspcmhH
        yS60VWgCxjRseLlNDW4IgLrDrsZBWymGZpJqd+sPTrN1hvK5GYa4dp98QKntG86s
        C5rHIbiM6ANGTt71JXfxGziSe/twNP0L3WSlWVkQQO/vAI6As8R3F10KUsHU4JE1
        ARFdoAd/PXzJa1RBbllZLw+4JOU2ELyDk+CGocOhuF8Vz3MPoGgr5g7xNJVY04iW
        X7VGU4QG0SwIYdndFy9c0O77AFpg/Uyq0ba8VQIDAQABAoIBADBEwaWcLBIf4Gjr
        odc83DH0q+4TIHQAFjXk7SgGrqEYP8lVFx3/5nsfqUL9CqrizBY+xj4Jv+DidZz/
        FzMvSF3zJThaZfeDP6PYuEQUmSywngLX6rIhdX08V6604YsR1eTuI04drRNi3ErA
        bYY2rT3EdyNVRXEC9GGZeMPZFWvdFAoiLYud+hVcBNiBGvgvg1eSleXMlJnG0PN6
        Mw6FYXKRKvaI1yWwY/O2SCBf+/kn60Bd3K4uMNDCALZcx6oMxLPg14jWCMwN8bqE
        QrG7eu7VE+6ZJr5YtS9PVI3f8YjYPz+ipq6ZXZ/AXKtACjw/DUlM5UOiVUCJMyxq
        VJIPAuECgYEA4+gLd+5+6pzqG8Um9Qyk7GIOvaTjDTy3aSrdqygWXkkPEBjOxiQz
        yxY3sA7TwSIwO6eVDXGXjMyuhxdJDFrKwvTdJE2wRS281YoObb3OKJBb4kAzij8M
        jmPooT1kSHzym+7fKI7Ipwq8NLydOpVa+qEe6FVbabsCzvVzPDKEMfsCgYEA4R8p
        MY3vhgzRIYZp0fOOkzkhGaKrP1ZvlG5/zpifoeQAV3wEZHDMNyu4s3ZvIqKOrCll
        j45C8nLEQAaVWAHNokaIWQ3JjzeqKicV7o3UZnbe8eIYQVqxLzulfwbLG0Z2nuwo
        GAetwQBpa2Ne1inEJaq1Q0xadl2hd/1ADLfKye8CgYBU31dWBHUzPdhZGySU4W6R
        sTq4GS2NAm1zNslyMe2SkzaO0g4+78ByAwYeBIeLRwYbUR9K8GB1yMu990f21+Dm
        lXW9TUk1mgDWrSEOcT7TEF+HdE09UJmGdWJumYQ9Enru4xgr7HCA9Jh+MzeCV5iX
        +WSfNRpj14cGN5YAdveP/QKBgQDYMM2lijIBIOPhdyy+dFBycAWqkb41CDQFboyM
        gaOjm8r8ONwa/PwQ64rnxY/6yfOLwAGJeEwweyied/QJ3Ul2Upf0NbpgMEvZSUnV
        mxzj/boivkce1BKeUoCfWY3JtsSJ4C6szQr+8v9KItbbgqacqbCDXZruWwKKsYlF
        7WbwvwKBgE+YoUGm6A5bnIZDK6ak/Ln0Md4vHJe5NFqBqJIaOv2tkibTlMPkYr7U
        KVl9Td1idmSvscgNJsbKacwQ6VmCj6juaLS+dFjKmJxyr6XleH4Bzy47WgBFLTt/
        hm767Sr8DUbKmVQfDACehweVvqC/wKKVc2Y0FCAvt90IQfMsF5sk
        -----END RSA PRIVATE KEY-----
    cert: |
      -----BEGIN CERTIFICATE-----
      MIIDWjCCAkKgAwIBAgIRAP2yMVPZm0hoIbHvPT5R7RAwDQYJKoZIhvcNAQELBQAw
      IDEeMBwGA1UEAxMVc3lzZGlnLWV4YW1wbGUtY2hhcnRzMB4XDTIyMDEyMTA5NTAx
      MloXDTMyMDExOTA5NTAxMlowNzE1MDMGA1UEAxMsZm9vLWFkbWlzc2lvbi1jb250
      cm9sbGVyLXdlYmhvb2suZGVmYXVsdC5zdmMwggEiMA0GCSqGSIb3DQEBAQUAA4IB
      DwAwggEKAoIBAQDabzF6z6K6rxIFp8zp0VzGxzOpKl1b5oXwRP9JE1kh/LHH4bHO
      KxJnQBA2PsYXiM2NC7JNI1oMsEEb/wZA2O54V/wNO+M0shIDJ/gwFavIreAfEX2H
      SRWO4Eqqhes7XzTbStSzCNp7DU1ganeRx3L3kxDXa5oW5EYW6NtHWBdn6+bUnI5A
      zDI4uY+F7Mfw/UiZno5X4BMC6jSMiY64+S2Neal096kzRvKlvZ5L+gn0ILZdjmnM
      MCQ4Ek7ZmFbbVSgxnsi1chSuQLTkexBsq8Gin172z+metyxDcB2oD/AOTT+5TnLf
      WDC5NXwOt17v3JH0ZL+7HduaTlzRZUhrzSy9AgMBAAGjeDB2MA4GA1UdDwEB/wQE
      AwIFoDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDAYDVR0TAQH/BAIw
      ADA3BgNVHREEMDAugixmb28tYWRtaXNzaW9uLWNvbnRyb2xsZXItd2ViaG9vay5k
      ZWZhdWx0LnN2YzANBgkqhkiG9w0BAQsFAAOCAQEArTArbCNfcqQ9pXn0sLd84y7b
      ilw7xklKtgLJXRvB/ZuL/7j2OVBx0qcwBK+EXOBXk8oeExDF8tgJkH9c4zdxXQOM
      Vcz2XRdYsvDEel5CIzf35o1Zym1gEHXtyz1cg98bvIQ7uNhbn22gOpcMTqz6nyjp
      RrY+Sllb3bu8yN6l4Pu+/vBFhVFCekC5rcljpyQDhPyb9SIlt9AURzBr2XBYk4xW
      IRPxAMt8OV1R9Tynjhl0poat0CoWup8KfCMpDMu8K2hZXz4T9bDW9F/EKSqf3crA
      /tnNN7uCcmsJETyj0nACklRqIb4LpodKDIlJjctzCGp4AcUFjhmotpQUG/+v+A==
      -----END CERTIFICATE-----
    key: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEA2m8xes+iuq8SBafM6dFcxsczqSpdW+aF8ET/SRNZIfyxx+Gx
      zisSZ0AQNj7GF4jNjQuyTSNaDLBBG/8GQNjueFf8DTvjNLISAyf4MBWryK3gHxF9
      h0kVjuBKqoXrO18020rUswjaew1NYGp3kcdy95MQ12uaFuRGFujbR1gXZ+vm1JyO
      QMwyOLmPhezH8P1ImZ6OV+ATAuo0jImOuPktjXmpdPepM0bypb2eS/oJ9CC2XY5p
      zDAkOBJO2ZhW21UoMZ7ItXIUrkC05HsQbKvBop9e9s/pnrcsQ3AdqA/wDk0/uU5y
      31gwuTV8Drde79yR9GS/ux3bmk5c0WVIa80svQIDAQABAoIBAQDV9G4xziml1A/C
      DF+Rcyn95ma6vy1c9AqjkuG+8T2wJbT5hR9FQzkuezil+YzMxooYKqnGFueAYDAW
      PREh+ZpztDLFv7BIEFfGUaMvbjqqQW2y4M3k8ng0T4uzRaNor1O1rLF0gCqItzng
      Q8jEuOjqiVnIt7Ph0ky46fLHCgk7Fq28blpvfJ8Mpv7ECF3KdtweQgK2csOiD30n
      yaujST/g+Y9jUfXX2ufCUBzbTdWUoMqOFamNe7Vk0u9vvwYnnh/HqJPDeG/U/L0Z
      sszk7sujiMWEAYfIXF6HMNpk39ztBGft4sF8/TAcaw9WvioHXzZgQ6QSG/fnrV/a
      DMtM6VQ9AoGBAPNagbmTmw9qzu3CqAvlzRLNBg87V1haZSnt5oqSHdrp2YHG6j8O
      qLkayJ2t81Y7ar9VXvEzkt/wUruGlMWZcxNJ9Be7XmyI3vG3Wv6W0fdyY6zxSOfI
      WMbm9kD0FaAs4fSHVI3GoZmMCro8qgsXoR1sanT8EJvTlH/8HNS/dx7PAoGBAOXJ
      K4ZjpkTBwtF6kC8ImwJ/WBlN/K/nRiJjC5E16GUM/XfYu/rDfvbvTpNba5cbIObZ
      aeJmhz/mO6wWPUccQmzvtIEIgy/xXEhXSFRzl6CFT5xzl13fTRrCjPlhs2wwCmsH
      sWNYR2KvLqiHkhaMH/J5NMhBvdISkG/70v8kS76zAoGANhoHASTpsjHCs2U1Sv/Z
      6bYfBL/imUfvebTkLiZx8LtQmeOJLF+r7wsfUr7bfG5VOxhVtTYMDzE0k3BGHvAQ
      f1dPpv8G7QY42nAzEKqjH2oU8tvpo24NHps2YBZjwGp6CY0UpThlsOdLc0ANZc3p
      CcuSl1N6tcoCF7oLBtlSOE0CgYAAweD62Gk74MebmSPQg96+61yG+NLUYZbBlkH7
      gIn7i0dqlbRI50wL1E4V/j8kiFpbaGwI6v2XIFMiBhC9o0I0ybV2l2iXR9xeAKuk
      W50sUkQo59if3pSKegms6L2GpcHjCGt1QF073gfxVkENAfk4+11JK65MevMu602O
      ubfmMQKBgC2hLEXizXZ0TO6F2RgFD0pvSbGnpa+00TflowXKMdPNA4tDIlhTtZ/x
      NIs1ZDu6T8ZgD/eOFm+/gWrbNK/K6ykLyFrKld8luR9q8I2JMuP+iZRaDUIHyYSm
      W/ODsrxtCp/4n2herlzqLYufC4dFnrp5nFM8ekoAru53flNPvsCh
      -----END RSA PRIVATE KEY-----

