sysdig:
  secureAPIToken: ${SECURE_API_TOKEN}
clusterName: CI-Cluster
admissionController:
  webhook:
    ssl:
      ca:
        cert: |
          -----BEGIN CERTIFICATE-----
          MIIC5zCCAc+gAwIBAgIJAPzgoOe8gf7eMA0GCSqGSIb3DQEBBQUAMCAxHjAcBgNV
          BAMTFXN5c2RpZy1leGFtcGxlLWNoYXJ0czAeFw0yMjAxMjEwOTQxMzVaFw0zMjAx
          MTkwOTQxMzVaMCAxHjAcBgNVBAMTFXN5c2RpZy1leGFtcGxlLWNoYXJ0czCCASIw
          DQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMhqr9oTv+AD7wP1RoBu3RPdthYK
          4BEizy4+Eh2lSCNnbSWTy172V181I7mEcDvnddTWz895BkVTRrSwyjCh25/pNxJJ
          7mKAT4Xo11X5d8gbKXJoR8kutFVoAsY0bHi5TQ1uCIC6w67GQVsphmaSanfrD06z
          dYbyuRmGuHaffECp7RvOrAuaxyG4jOgDRk7e9SV38Rs4knv7cDT9C91kpVlZEEDv
          7wCOgLPEdxddClLB1OCRNQERXaAHfz18yWtUQW5ZWS8PuCTlNhC8g5PghqHDobhf
          Fc9zD6BoK+YO8TSVWNOIll+1RlOEBtEsCGHZ3RcvXNDu+wBaYP1MqtG2vFUCAwEA
          AaMkMCIwIAYDVR0RBBkwF4IVc3lzZGlnLWV4YW1wbGUtY2hhcnRzMA0GCSqGSIb3
          DQEBBQUAA4IBAQC3DHjxyWKwtqzU2KfJc+wVqsTPdyzc/fQUpvkkD84avNycmiZP
          mJALph/IMlZ8leYi+kbH4egMHmRutmpLV2cOjozYKEBeqBhPesKbFSxRHW2iNJSr
          l4lFyg1Y8TTMdr9wjxu8TkIzP9p4NQgajPLD8VsxSKSe5azRA5i3oUzk5Edn13Yj
          WirNI49DZYXaxrx5xGkKLZ6++IFwQFXOit7yvE1eQQIsZrDAEyU/KXp9kbyxlQwZ
          gfE2elzgom9LZuSB33qIPASwtunelTHnKJPadBbYL3V7W33+DtGl2NhK1pGn07w2
          HKqPVSj3/vnCWV/miAs8BgJz+RrphtegNnAd
          -----END CERTIFICATE-----
        key: |
          -----BEGIN RSA PRIVATE KEY-----
          MIIEowIBAAKCAQEAyGqv2hO/4APvA/VGgG7dE922FgrgESLPLj4SHaVII2dtJZPL
          XvZXXzUjuYRwO+d11NbPz3kGRVNGtLDKMKHbn+k3EknuYoBPhejXVfl3yBspcmhH
          yS60VWgCxjRseLlNDW4IgLrDrsZBWymGZpJqd+sPTrN1hvK5GYa4dp98QKntG86s
          C5rHIbiM6ANGTt71JXfxGziSe/twNP0L3WSlWVkQQO/vAI6As8R3F10KUsHU4JE1
          ARFdoAd/PXzJa1RBbllZLw+4JOU2ELyDk+CGocOhuF8Vz3MPoGgr5g7xNJVY04iW
          X7VGU4QG0SwIYdndFy9c0O77AFpg/Uyq0ba8VQIDAQABAoIBADBEwaWcLBIf4Gjr
          odc83DH0q+4TIHQAFjXk7SgGrqEYP8lVFx3/5nsfqUL9CqrizBY+xj4Jv+DidZz/
          FzMvSF3zJThaZfeDP6PYuEQUmSywngLX6rIhdX08V6604YsR1eTuI04drRNi3ErA
          bYY2rT3EdyNVRXEC9GGZeMPZFWvdFAoiLYud+hVcBNiBGvgvg1eSleXMlJnG0PN6
          Mw6FYXKRKvaI1yWwY/O2SCBf+/kn60Bd3K4uMNDCALZcx6oMxLPg14jWCMwN8bqE
          QrG7eu7VE+6ZJr5YtS9PVI3f8YjYPz+ipq6ZXZ/AXKtACjw/DUlM5UOiVUCJMyxq
          VJIPAuECgYEA4+gLd+5+6pzqG8Um9Qyk7GIOvaTjDTy3aSrdqygWXkkPEBjOxiQz
          yxY3sA7TwSIwO6eVDXGXjMyuhxdJDFrKwvTdJE2wRS281YoObb3OKJBb4kAzij8M
          jmPooT1kSHzym+7fKI7Ipwq8NLydOpVa+qEe6FVbabsCzvVzPDKEMfsCgYEA4R8p
          MY3vhgzRIYZp0fOOkzkhGaKrP1ZvlG5/zpifoeQAV3wEZHDMNyu4s3ZvIqKOrCll
          j45C8nLEQAaVWAHNokaIWQ3JjzeqKicV7o3UZnbe8eIYQVqxLzulfwbLG0Z2nuwo
          GAetwQBpa2Ne1inEJaq1Q0xadl2hd/1ADLfKye8CgYBU31dWBHUzPdhZGySU4W6R
          sTq4GS2NAm1zNslyMe2SkzaO0g4+78ByAwYeBIeLRwYbUR9K8GB1yMu990f21+Dm
          lXW9TUk1mgDWrSEOcT7TEF+HdE09UJmGdWJumYQ9Enru4xgr7HCA9Jh+MzeCV5iX
          +WSfNRpj14cGN5YAdveP/QKBgQDYMM2lijIBIOPhdyy+dFBycAWqkb41CDQFboyM
          gaOjm8r8ONwa/PwQ64rnxY/6yfOLwAGJeEwweyied/QJ3Ul2Upf0NbpgMEvZSUnV
          mxzj/boivkce1BKeUoCfWY3JtsSJ4C6szQr+8v9KItbbgqacqbCDXZruWwKKsYlF
          7WbwvwKBgE+YoUGm6A5bnIZDK6ak/Ln0Md4vHJe5NFqBqJIaOv2tkibTlMPkYr7U
          KVl9Td1idmSvscgNJsbKacwQ6VmCj6juaLS+dFjKmJxyr6XleH4Bzy47WgBFLTt/
          hm767Sr8DUbKmVQfDACehweVvqC/wKKVc2Y0FCAvt90IQfMsF5sk
          -----END RSA PRIVATE KEY-----
