apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
  labels:
    {{- include "harbor-scanner-sysdig-secure.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "harbor-scanner-sysdig-secure.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- if .Values.podAnnotations }}
      annotations:
        {{- .Values.podAnnotations | toYaml | nindent 8 -}}
      {{- end }}
      labels:
        {{- include "harbor-scanner-sysdig-secure.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "harbor-scanner-sysdig-secure.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.customEntryPoint }}
          command: {{ .Values.customEntryPoint | toYaml | nindent 10 }}
          {{- end }}
          env:
            - name: SECURE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
                  key: sysdig_secure_url
            - name: SECURE_API_TOKEN
              valueFrom:
                {{- if or .Values.sysdig.secure.apiToken .Values.sysdig.secure.existingSecureAPITokenSecret }}
                secretKeyRef:
                  {{- if .Values.sysdig.secure.apiToken }}
                  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
                  key: sysdig_secure_api_token
                  {{- else }}
                  name: {{ .Values.sysdig.secure.existingSecureAPITokenSecret }}
                  key: sysdig_secure_api_token
                  {{- end }}
                {{- end }}
            {{- if .Values.proxy.httpProxy }}
            - name: http_proxy
              value: {{ .Values.proxy.httpProxy }}
            {{- end }}
            {{- if .Values.proxy.httpsProxy }}
            - name: https_proxy
              value: {{ .Values.proxy.httpsProxy }}
            {{- end }}
            {{- if .Values.proxy.noProxy }}
            - name: no_proxy
              value: {{ .Values.proxy.noProxy }}
            {{- end }}
            - name: VERIFY_SSL
              value: "{{ .Values.sysdig.secure.verifySSL }}"
            {{- if .Values.cliScanning.enabled }}
            - name: CLI_SCANNING
              value: "true"
            - name: ASYNC_MODE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
                  key: async_mode_enabled
            - name: NAMESPACE_NAME
              value: {{ .Release.Namespace }}
            - name: SECRET_NAME
              value: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
            - name: CLI_SCANNER_IMAGE
              value: {{ .Values.cliScanning.image | quote }}
            {{- end }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
