apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
  labels:
    {{- include "harbor-scanner-sysdig-secure.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "harbor-scanner-sysdig-secure.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "harbor-scanner-sysdig-secure.selectorLabels" . | nindent 8 }}
    spec:
    {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
    {{- end }}
      serviceAccountName: {{ include "harbor-scanner-sysdig-secure.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: SECURE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
                  key: sysdig_secure_url
            - name: SECURE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
                  key: sysdig_secure_api_token
            {{- if .Values.inlineScanning.enabled }}
            - name: INLINE_SCANNING
              value: "yes"
            - name: NAMESPACE_NAME
              value: {{ .Release.Namespace }}
            - name: CONFIGMAP_NAME
              value: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
            - name: SECRET_NAME
              value: {{ include "harbor-scanner-sysdig-secure.fullname" . }}
            {{- end }}
          ports:
            - name: http
              containerPort: 5000
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
    {{- end }}
