{{- if and .Values.nodeAnalyzer.deploy (not .Values.gke.autopilot) .Values.nodeAnalyzer.runtimeScanner.deploy .Values.nodeAnalyzer.runtimeScanner.eveConnector.deploy }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "nodeAnalyzer.fullname" . }}-eveconnector
  labels:
{{ include "nodeAnalyzer.labels" . | indent 4 }}
data:
  api_endpoint: https://{{ required "A valid apiEndpoint is required" (include "nodeAnalyzer.apiEndpoint" .) }}
  cluster_name: {{ required "A valid .Values.clusterName is required" (include "nodeAnalyzer.clustername" . ) }}
  {{- if hasKey .Values.nodeAnalyzer "sslVerifyCertificate" }}
  ssl_verify_certificate: "{{ .Values.nodeAnalyzer.sslVerifyCertificate }}"
  {{- end }}
  {{- if hasKey .Values.nodeAnalyzer.runtimeScanner "eveConnector" }}
  cert_dns_name: {{ include "eveconnector.host" . | quote }}
  {{- end }}
{{- end }}
