# Can be set to true to show debug logging, useful for troubleshooting.
debug: false

httpProxy:
httpsProxy:
noProxy:
sslVerifyCertificate:
# Namespace to deploy to (Optional: Will default to release namespace)
namespace:

# Default values for Sysdig KSPM Collector
global:
  clusterConfig: {}
  sysdig:
    region: "us1"
  sslVerifyCertificate:
  proxy: {}
  kspm:
    deploy: true
  image:
    pullSecrets: []
    pullPolicy: Always

sysdig:
  # Required: You need your Sysdig access key before running agents, either specifying 'accessKey' here, or using 'existingAccessKeySecret'
  accessKey: ""
  # Alternatively, specify the name of a Kubernetes secret containing an 'access-key' entry
  existingAccessKeySecret: ""

# The API endpoint for Sysdig Secure, specified with no protocol:
# * SaaS default region (US East): secure.sysdig.com
# * SaaS US Web: us2.app.sysdig.com
# * SaaS European Union: eu1.app.sysdig.com
# * On-Prem: sysdig.my.company.com
apiEndpoint: ""

# Override value for the NATS service endpoint
natsUrl: ""

# Setting a cluster name allows you to filter events from this cluster using kubernetes.cluster.name
clusterName: ""

image:
  repository: sysdig/kspm-collector
  tag: 1.24.0
  digest:
  registry: quay.io
  pullPolicy:

# Set image pull secret name
# Example
# imagePullSecrets:
#   - name: my-super-secret-pull
imagePullSecrets: []

rbac:
  # true here enables creation of rbac resources
  create: true

scc:
  # true here enables creation of Security Context Constraints in Openshift
  create: true

psp:
  # true here enables creation of Pod Security Policy to allow the agent run with the required permissions
  create: true

serviceAccount:
  # true here enables creation of service account
  create: true
  # Use this value as kspmCollectorServiceAccountName
  name: "kspm-collector"

replicas: 1

namespaces:
  included: ""
  excluded: ""

nodeSelector: {}

workloads:
  included: ""
  excluded: ""

healthIntervalMin: 5

resources:
  requests:
    cpu: 150m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1536Mi

port: 8080

readinessProbe:
  enabled: true
  probe:
    initialDelaySeconds: 90
    periodSeconds: 3
livenessProbe:
  enabled: true
  probe:
    initialDelaySeconds: 90
    periodSeconds: 3

securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  runAsGroup: 10001
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - all

tolerations:
  - key: kubernetes.io/arch
    operator: Equal
    value: arm64
    effect: NoSchedule

priorityClassName:

# arch and os will be used to template out a node affinity block matching everything in each list. If affinity is
# defined, these fields will be ignored
arch:
  - amd64
  - arm64
os:
  - linux
# Allow the DaemonSet to schedule using affinity rules
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

labels: {}

tests:
  timeout: 300s
  image:
    repo: bitnami/kubectl
    tag: 1.24.4
