{{- if or .Values.daemonset.deploy .Values.delegatedAgentDeployment.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "agent.configmapName" . }}
  namespace: {{ include "agent.namespace" . }}
  labels:
{{ (include "agent.labels" .) | indent 4 }}
data:
  dragent.yaml: |
    new_k8s: true
{{- include "agent.clusterName" . | trim | nindent 4 }}
{{- if .Values.delegatedAgentDeployment.enabled }}
  {{- if not (hasKey .Values.sysdig.settings "cointerface_enabled") }}
    cointerface_enabled: false
  {{- end }}
{{- end }}
{{- include "agent.connectionSettings" . | trim | nindent 4 }}
{{- include "agent.planSettings" . | trim | nindent 4 }}
{{/* Calculate the leaderElection/k8s_colstart information.
     The computed/combined results are merged with any overrides specified
     in sysdig.settings and will be rendered with that block */}}
{{- include "agent.leaderElection" . }}
{{- include "agent.disableCaptures" . | nindent 4 }}
{{- include "agent.logSettings" . }}
{{- if .Values.global.sysdig.tags }}
    tags: {{ include "agent.tags" . }}
{{- end }}
{{- if or (.Values.proxy.httpProxy | default .Values.global.proxy.httpProxy) (.Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy) }}
    proxy:
      {{- if contains "https" (.Values.proxy.httpProxy | default .Values.global.proxy.httpProxy) }}
      proxy_host: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy | trimPrefix "https://" | splitList ":" | first }}
      proxy_port: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy | trimPrefix "https://" | splitList ":" | last }}
      ssl: true
      {{- else }}
      proxy_host: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy | trimPrefix "http://" | splitList ":" | first }}
      proxy_port: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy | trimPrefix "http://" | splitList ":" | last }}
      ssl: false
      {{- end }}
{{- end }}
{{/* add in the remaining items from sysdig.settings */}}
{{- if .Values.sysdig.settings }}
  {{- toYaml .Values.sysdig.settings | trim | nindent 4 }}
{{- end }}
{{- if .Values.prometheus.file }}
  prometheus.yaml: |
{{ toYaml .Values.prometheus.yaml | indent 4 }}
{{- end }}
{{- end }}
