{{- if or .Values.daemonset.deploy .Values.delegatedAgentDeployment }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ template "agent.fullname" . }}
  namespace: {{ include "agent.namespace" . }}
  labels:
{{ include "agent.labels" . | indent 4 }}
{{ include "agent.daemonsetLabels" . | indent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "agent.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      name: {{ template "agent.fullname" .}}
      labels:
{{ include "agent.labels" . | indent 8 }}
{{ include "agent.daemonsetLabels" . | indent 8 }}
      {{- if (include "agent.gke.autopilot" .) }}
      annotations:
        autopilot.gke.io/no-connect: "true"
      {{- else }}
      {{- if .Values.daemonset.annotations }}
      annotations:
{{ toYaml .Values.daemonset.annotations | indent 8 }}
      {{- end }}
      {{- end }}
    spec:
      serviceAccountName: {{ template "agent.serviceAccountName" .}}
{{- if .Values.priorityClassName }}
      priorityClassName: "{{ .Values.priorityClassName }}"
{{- end }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      hostPID: true
      terminationGracePeriodSeconds: 5
      {{- if .Values.daemonset.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.daemonset.nodeSelector | indent 8 }}
      {{- end }}
      {{- if (include "agent.gke.autopilot" .) }}
      affinity: null
      {{- else }}
      affinity:
      {{- if .Values.daemonset.affinity }}
{{ toYaml .Values.daemonset.affinity | indent 8 }}
      {{- else }}
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              {{- if and (eq (int .Capabilities.KubeVersion.Major) 1)
                (lt (int .Capabilities.KubeVersion.Minor) 14) }}
              - key: beta.kubernetes.io/arch
                operator: In
                values: {{- toYaml .Values.daemonset.arch | nindent 18 }}
              - key: beta.kubernetes.io/os
                operator: In
                values: {{- toYaml .Values.daemonset.os | nindent 18 }}
              {{- else }}
              - key: kubernetes.io/arch
                operator: In
                values: {{- toYaml .Values.daemonset.arch | nindent 18 }}
              - key: kubernetes.io/os
                operator: In
                values: {{- toYaml .Values.daemonset.os | nindent 18 }}
              {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
{{ toYaml .Values.image.pullSecrets | indent 8 }}
      {{- end }}
      {{- if .Values.slim.enabled }}
      initContainers:
        - name: sysdig-agent-kmodule
          image: {{ template "agent.image.kmodule" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            capabilities:
              drop:
                - ALL
            privileged: true
            runAsNonRoot: false
            runAsUser: 0
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: true
          resources:
{{ toYaml .Values.slim.resources | indent 12 }}
          env:
          {{- if or (include "agent.ebpfEnabled" .) (include "agent.gke.autopilot" .) }}
            - name: SYSDIG_BPF_PROBE
              value:
          {{- end }}
          {{- range $key, $value := .Values.daemonset.kmodule.env }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
          {{- end }}
          {{- if (.Values.proxy.httpProxy | default .Values.global.proxy.httpProxy) }}
            - name: http_proxy
              value: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy }}
          {{- end }}
          {{- if (.Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy) }}
            - name: https_proxy
              value: {{ .Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy }}
          {{- end }}
          {{- if (.Values.proxy.noProxy | default .Values.global.proxy.noProxy) }}
            - name: no_proxy
              value: {{ .Values.proxy.noProxy | default .Values.global.proxy.noProxy }}
          {{- end }}
          volumeMounts:
            - mountPath: /etc/modprobe.d
              name: modprobe-d
              readOnly: true
            - mountPath: /host/boot
              name: boot-vol
              readOnly: true
            - mountPath: /host/lib/modules
              name: modules-vol
              readOnly: true
            - mountPath: /host/usr
              name: usr-vol
              readOnly: true
            {{- if or (include "agent.ebpfEnabled" .) (include "agent.gke.autopilot" .)}}
            - mountPath: /root/.sysdig
              name: bpf-probes
            - mountPath: /sys/kernel/debug
              name: sys-tracing
              readOnly: true
            {{- end }}
            {{- if include "agent.gke.autopilot" . }}
            - mountPath: /host/etc/os-release
              name: osrel
              readOnly: true
            {{- else }}
            - mountPath: /host/etc
              name: etc-vol
              readOnly: true
            {{- end }}
      {{- end }}
      containers:
        - name: sysdig
          image: {{ template "agent.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
{{ include "agent.resources" . | indent 12 }}
          securityContext:
            capabilities:
              drop:
                - ALL
            privileged: true
            runAsNonRoot: false
            runAsUser: 0
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: true
          env:
            - name: K8S_NODE
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            {{- if or (include "agent.ebpfEnabled" .)  (include "agent.gke.autopilot" .)}}
            - name: SYSDIG_BPF_PROBE
              value:
            {{- end }}
            {{- if (.Values.proxy.httpProxy | default .Values.global.proxy.httpProxy) }}
            - name: http_proxy
              value: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy }}
            {{- end }}
            {{- if (.Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy) }}
            - name: https_proxy
              value: {{ .Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy }}
            {{- end }}
            {{- if (.Values.proxy.noProxy | default .Values.global.proxy.noProxy) }}
            - name: no_proxy
              value: {{ .Values.proxy.noProxy | default .Values.global.proxy.noProxy }}
            {{- end }}
            {{- if .Values.timezone }}
            - name: TZ
              value: {{ .Values.timezone }}
            {{- end }}
            {{- range $key, $value := .Values.daemonset.env }}
            - name: "{{ $key }}"
              value: "{{ $value }}"
            {{- end }}
          readinessProbe:
            exec:
              command: [ "test", "-e", "/opt/draios/logs/running" ]
            initialDelaySeconds: {{ .Values.daemonset.probes.initialDelay }}
          volumeMounts:
            {{- if not .Values.slim.enabled }}
            - mountPath: /etc/modprobe.d
              name: modprobe-d
              readOnly: true
            {{- end }}
            {{- if include "agent.gke.autopilot" . }}
            - mountPath: /host/etc/os-release
              name: osrel
              readOnly: true
            {{- else }}
            - mountPath: /host/etc
              name: etc-vol
              readOnly: true
            {{- end }}
            - mountPath: /host/dev
              name: dev-vol
              readOnly: false
            - mountPath: /host/proc
              name: proc-vol
              readOnly: true
            {{- if not .Values.slim.enabled }}
            - mountPath: /host/boot
              name: boot-vol
              readOnly: true
            - mountPath: /host/lib/modules
              name: modules-vol
              readOnly: true
            - mountPath: /host/usr
              name: usr-vol
              readOnly: true
            {{- end }}
            - mountPath: /host/run
              name: run-vol
            - mountPath: /host/var
              name: var-vol
            - mountPath: /dev/shm
              name: dshm
            - mountPath: /opt/draios/etc/kubernetes/config
              name: sysdig-agent-config
            - mountPath: /opt/draios/etc/kubernetes/secrets
              name: sysdig-agent-secrets
            {{- if (and (or (include "agent.ebpfEnabled" .) (include "agent.gke.autopilot" .)) .Values.slim.enabled) }}
            - mountPath: /root/.sysdig
              name: bpf-probes
            - mountPath: /sys/kernel/debug
              name: sys-tracing
              readOnly: true
            {{- end }}
            {{- if .Values.extraVolumes.mounts }}
{{ toYaml .Values.extraVolumes.mounts | indent 12 }}
            {{- end }}
            - mountPath: /etc/podinfo
              name: podinfo
      volumes:
        - name: modprobe-d
          hostPath:
            path: /etc/modprobe.d
        - name: dshm
          emptyDir:
            medium: Memory
        {{- if include "agent.gke.autopilot" . }}
        - name: osrel
          hostPath:
            path: /etc/os-release
            type: FileOrCreate
        {{- else }}
        - name: etc-vol
          hostPath:
            path: /etc
        {{- end }}
        - name: dev-vol
          hostPath:
            path: /dev
        - name: proc-vol
          hostPath:
            path: /proc
        - name: boot-vol
          hostPath:
            path: /boot
        - name: modules-vol
          hostPath:
            path: /lib/modules
        - name: usr-vol
          hostPath:
            path: /usr
        - name: run-vol
          hostPath:
            path: /run
        - name: var-vol
          hostPath:
            path: /var
        {{- if (and (or (include "agent.ebpfEnabled" .) (include "agent.gke.autopilot" .)) .Values.slim.enabled) }}
        - name: bpf-probes
          emptyDir: {}
        - name: sys-tracing
          hostPath:
            path: /sys/kernel/debug
        {{- end }}
        - name: sysdig-agent-config
          configMap:
            name: {{ include "agent.configmapName" . }}
            optional: true
        - name: sysdig-agent-secrets
          secret:
            {{- if not ( include "agent.accessKeySecret" . ) }}
            secretName: {{ template "agent.fullname" . }}
            {{- else }}
            secretName: {{ include "agent.accessKeySecret" . }}
            {{- end -}}
        {{- if .Values.extraVolumes.volumes }}
{{ toYaml .Values.extraVolumes.volumes | indent 8 }}
        {{- end }}
        - name: podinfo
          downwardAPI:
            defaultMode: 420
            items:
            - fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
              path: namespace
            - fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
              path: name
  updateStrategy:
    type: {{ .Values.daemonset.updateStrategy.type }}
    rollingUpdate:
      maxUnavailable: {{ include "agent.parallelStarts" . }}
{{- end }}
