{{- if .Values.delegatedAgentDeployment.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "agent.fullname" . }}
  namespace: {{ include "agent.namespace" . }}
  labels:
    {{- include "agent.labels" . | nindent 4 }}
    {{- include "agent.deploymentLabels" . | nindent 4 }}
spec:
  progressDeadlineSeconds: {{ .Values.delegatedAgentDeployment.deployment.progressDeadlineSeconds }}
  replicas: {{ .Values.delegatedAgentDeployment.deployment.replicas}}
  revisionHistoryLimit: {{ .Values.delegatedAgentDeployment.deployment.revisionHistoryLimit }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
      app.kubernetes.io/name: {{ include "agent.name" . }}
  strategy:
{{ toYaml .Values.delegatedAgentDeployment.deployment.updateStrategy | indent 4 }}
  template:
    metadata:
      name: {{ include "agent.fullname" . }}
      labels:
        {{- include "agent.labels" . | nindent 8 }}
        {{- include "agent.deploymentLabels" . | nindent 8 }}
    spec:
      {{- if .Values.delegatedAgentDeployment.deployment.nodeSelector }}
      nodeSelector:
        {{ toYaml .Values.delegatedAgentDeployment.deployment.nodeSelector | nindent 8 }}
      {{- end }}
      affinity:
      {{- if .Values.delegatedAgentDeployment.deployment.affinity }}
        {{ toYaml .Values.delegatedAgentDeployment.deployment.affinity | nindent 8 }}
      {{- else }}
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              {{- if (include "agent.kubeVersionLessThan" (dict "root" . "major" 1 "minor" 14)) }}
              - key: beta.kubernetes.io/arch
                operator: In
                values: {{- toYaml .Values.delegatedAgentDeployment.deployment.arch | nindent 18 }}
              - key: beta.kubernetes.io/os
                operator: In
                values: {{- toYaml .Values.delegatedAgentDeployment.deployment.os | nindent 18 }}
              {{- else }}
              - key: kubernetes.io/arch
                operator: In
                values: {{- toYaml .Values.delegatedAgentDeployment.deployment.arch | nindent 18 }}
              - key: kubernetes.io/os
                operator: In
                values: {{- toYaml .Values.delegatedAgentDeployment.deployment.os | nindent 18 }}
              {{- end }}
      {{- end }}
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
      {{ toYaml .Values.image.pullSecrets }}
      {{- end }}
      containers:
        - name: sysdig-cointerface
          image: {{ template "agent.image" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{ toYaml .Values.delegatedAgentDeployment.deployment.resources | nindent 12 }}
          securityContext:
            privileged: true
            runAsNonRoot: false
            runAsUser: 0
            readOnlyRootFilesystem: false
            allowPrivilegeEscalation: true
          env:
          - name: RUN_MODE
            value: nodriver
          - name: K8S_NODE
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          {{- if .Values.timezone }}
          - name: TZ
            value: {{ .Values.timezone }}
            {{- end }}
          {{- range $key, $value := .Values.delegatedAgentDeployment.deployment.env }}
          - name: {{ $key | quote }}
            value: {{ $value | quote }}
          {{- end }}
          {{- if (.Values.proxy.httpProxy | default .Values.global.proxy.httpProxy) }}
          - name: http_proxy
            value: {{ .Values.proxy.httpProxy | default .Values.global.proxy.httpProxy }}
          {{- end }}
          {{- if (.Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy) }}
          - name: https_proxy
            value: {{ .Values.proxy.httpsProxy | default .Values.global.proxy.httpsProxy }}
          {{- end }}
          {{- if (.Values.proxy.noProxy | default .Values.global.proxy.noProxy) }}
          - name: no_proxy
            value: {{ .Values.proxy.noProxy | default .Values.global.proxy.noProxy }}
          {{- end }}
          readinessProbe:
            exec:
              command: [ "test", "-e", "/opt/draios/logs/running" ]
            failureThreshold: 3
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
          {{- /* Always requested */}}
            - mountPath: /host/dev
              name: dev-vol
            - mountPath: /host/proc
              name: proc-vol
              readOnly: true
            - mountPath: /dev/shm
              name: dshm
            - mountPath: /opt/draios/etc/kubernetes/config
              name: sysdig-agent-config
            - mountPath: /opt/draios/etc/kubernetes/secrets
              name: sysdig-agent-secrets
            - mountPath: /etc/podinfo
              name: podinfo

          {{- /* Slim = false, Autopilot = false */}}
          {{- if and (not .Values.slim.enabled) (not (include "agent.gke.autopilot" .)) }}
            - mountPath: /etc/modprobe.d
              name: modprobe-d
              readOnly: true
            - mountPath: /host/etc
              name: etc-vol
              readOnly: true
            - mountPath: /host/boot
              name: boot-vol
              readOnly: true
            - mountPath: /host/lib/modules
              name: modules-vol
              readOnly: true
            - mountPath: /host/usr
              name: usr-vol
              readOnly: true
            - mountPath: /host/var/lib
              name: varlib-vol
            - mountPath: /host/run
              name: run-vol
            - mountPath: /host/var/run
              name: varrun-vol
            {{- if (include "agent.ebpfEnabled" .) }}
            - mountPath: /root/.sysdig
              name: bpf-probes
            - mountPath: /sys/kernel/debug
              name: sys-tracing
              readOnly: true
            {{- end }}
          {{- end }}

          {{- /* Slim = true, Autopilot = false */}}
          {{- if and (.Values.slim.enabled) (not (include "agent.gke.autopilot" .)) }}
            - mountPath: /host/etc
              name: etc-vol
              readOnly: true
            - mountPath: /host/var/lib
              name: varlib-vol
            - mountPath: /host/run
              name: run-vol
            - mountPath: /host/var/run
              name: varrun-vol
            - mountPath: /root/.sysdig
            {{- if (include "agent.ebpfEnabled" .) }}
              name: bpf-probes
            - mountPath: /sys/kernel/debug
              name: sys-tracing
              readOnly: true
            {{- end }}
          {{- end }}

          {{- /* Slim = false, Autopilot = true */}}
          {{- if and (not .Values.slim.enabled) (include "agent.gke.autopilot" .) }}
            - mountPath: /host/etc/os-release
              name: osrel
              readOnly: true
            - mountPath: /host/boot
              name: boot-vol
              readOnly: true
            - mountPath: /host/lib/modules
              name: modules-vol
              readOnly: true
            - mountPath: /host/usr
              name: usr-vol
              readOnly: true
            - mountPath: /host/run
              name: run-vol
            - mountPath: /host/var/run
              name: varrun-vol
          {{- end }}

          {{- /* Slim = true, Autopilot = true */}}
          {{- if and (.Values.slim.enabled) (include "agent.gke.autopilot" .) }}
            - mountPath: /host/etc/os-release
              name: osrel
              readOnly: true
            - mountPath: /host/var/run/containerd/containerd.sock
              name: containerdsock-vol
            - mountPath: /root/.sysdig
              name: bpf-probes
          {{- end }}

          {{- if .Values.extraVolumes.mounts }}
            {{ toYaml .Values.extraVolumes.mounts | nindent 12 }}
          {{- end }}
      hostPID: true
      schedulerName: default-scheduler
      dnsPolicy: ClusterFirstWithHostNet
      securityContext: {}
      serviceAccountName: {{ template "agent.serviceAccountName" .}}
      terminationGracePeriodSeconds: 5
      tolerations:
        {{ toYaml .Values.tolerations | nindent 8 }}
      volumes:
      {{- /* Always requested */}}
        - name: dev-vol
          hostPath:
            path: /dev
        - name: proc-vol
          hostPath:
            path: /proc
        - name: dshm
          emptyDir:
            medium: Memory
        - name: sysdig-agent-config
          configMap:
            name: {{ printf "%s-deployment" (include "agent.configmapName" . ) | trunc 63 | trimSuffix "-" }}
            optional: true
        - name: sysdig-agent-secrets
          secret:
            {{- if not ( include "agent.accessKeySecret" . ) }}
            secretName: {{ template "agent.fullname" . }}
            {{- else }}
            secretName: {{ include "agent.accessKeySecret" . }}
            {{- end }}
        - name: podinfo
          downwardAPI:
            defaultMode: 420
            items:
            - fieldRef:
                apiVersion: v1
                fieldPath: metadata.namespace
              path: namespace
            - fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
              path: name

      {{- /* Slim = false, Autopilot = false */}}
      {{- if and (not .Values.slim.enabled) (not (include "agent.gke.autopilot" .)) }}
        - name: modprobe-d
          hostPath:
            path: /etc/modprobe.d
        - name: etc-vol
          hostPath:
            path: /etc
        - name: boot-vol
          hostPath:
            path: /boot
        - name: modules-vol
          hostPath:
            path: /lib/modules
        - name: usr-vol
          hostPath:
            path: /usr
        - name: varlib-vol
          hostPath:
            path: /var/lib
        - name: run-vol
          hostPath:
            path: /run
        - name: varrun-vol
          hostPath:
            path: /var/run
        {{- if (include "agent.ebpfEnabled" .) }}
        - name: bpf-probes
          emptyDir: {}
        - name: sys-tracing
          hostPath:
            path: /sys/kernel/debug
        {{- end }}
      {{- end }}

      {{- /* Slim = true, Autopilot = false */}}
      {{- if and (.Values.slim.enabled) (not (include "agent.gke.autopilot" .)) }}
        - name: etc-vol
          hostPath:
            path: /etc
        - name: varlib-vol
          hostPath:
            path: /var/lib
        - name: run-vol
          hostPath:
            path: /run
        - name: varrun-vol
          hostPath:
            path: /var/run
        {{- if (include "agent.ebpfEnabled" .) }}
        - name: bpf-probes
          emptyDir: {}
        - name: sys-tracing
          hostPath:
            path: /sys/kernel/debug
        {{- end }}
      {{- end }}

      {{- /* Slim = false, Autopilot = true */}}
      {{- if and (not .Values.slim.enabled) (include "agent.gke.autopilot" .) }}
        - name: osrel
          hostPath:
            path: /etc/os-release
        - name: boot-vol
          hostPath:
            path: /boot
        - name: modules-vol
          hostPath:
            path: /lib/modules
        - name: usr-vol
          hostPath:
            path: /usr
        - name: run-vol
          hostPath:
            path: /run
        - name: varrun-vol
          hostPath:
            path: /var/run
      {{- end }}

      {{- /* Slim = true, Autopilot = true */}}
      {{- if and (.Values.slim.enabled) (include "agent.gke.autopilot" .) }}
        - name: osrel
          hostPath:
            path: /etc/os-release
        - name: containerdsock-vol
          hostPath:
            path: /var/run/containerd/containerd.sock
        - name: bpf-probes
          emptyDir: {}
      {{- end }}

      {{- if .Values.extraVolumes.volumes }}
        {{ toYaml .Values.extraVolumes.volumes | nindent 8 }}
      {{- end }}
{{- end }}
