{{- if and (include "agent.gke.autopilot" .) .Values.gke.createPriorityClass }}
apiVersion: scheduling.k8s.io/v1
kind: PriorityClass
metadata:
{{- if and .Values.gke.createPriorityClass (not .Values.priorityClassName) }}
  {{ $_ := set .Values "priorityClassName" "sysdig-daemonset-priority" }}
{{- end }}
  name: {{ .Values.priorityClassName }}
value: 10
preemptionPolicy: PreemptLowerPriority
globalDefault: false
description: "Sysdig DaemonSet priority"
{{- end }}
