{{- if not ( include "agent.accessKeySecret" . ) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "agent.fullname" . }}
  namespace: {{ include "agent.namespace" . }} 
  labels:
{{ include "agent.labels" . | indent 4 }}
type: Opaque
data:
 access-key : {{ include "agent.accessKey" . | b64enc | quote }}
{{- end }}
