{{- if and .Values.scc.create (.Capabilities.APIVersions.Has "security.openshift.io/v1") }}
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  annotations:
    kubernetes.io/description: |
      This provides the minimum requirements to the Sysdig agent to run in the Openshift.
  name: {{ template "agent.fullname" . }}
  labels:
{{ include "agent.labels" . | indent 4 }}
allowHostDirVolumePlugin: true
allowHostIPC: false
allowHostNetwork: true
allowHostPID: true
{{- if or (dig "kspm_analyzer" "enabled" false .Values.sysdig.settings) (dig "prometheus_exporter" "enabled" false .Values.sysdig.settings) }}
allowHostPorts: true
{{- else }}
allowHostPorts: false
{{- end }}
allowPrivilegeEscalation: true
allowPrivilegedContainer: true
{{- if eq "true" (include "agent.privileged" .) }}
allowedCapabilities: []
{{- else }}
allowedCapabilities:
{{ include "agent.capabilities" . }}
{{- end }}
allowedUnsafeSysctls: []
defaultAddCapabilities: []
fsGroup:
  type: RunAsAny
groups: []
priority: 0
readOnlyRootFilesystem: false
requiredDropCapabilities: []
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
- '*'
supplementalGroups:
  type: RunAsAny
users:
- system:serviceaccount:{{ include "agent.namespace" . }}:{{ template "agent.serviceAccountName" .}}
volumes:
- configMap
- downwardAPI
- emptyDir
- hostPath
- secret
{{- end }}
