{{- if .Values.auditLog.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ template "agent.fullname" . }}
  namespace: {{ include "agent.namespace" . }}
  labels:
{{ include "agent.labels" . | indent 4 }}
spec:
  selector:
    app.kubernetes.io/name: {{ include "agent.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
  - protocol: TCP
    port: {{ .Values.auditLog.auditServerPort }}
{{- end }}
