{{- if .Values.scanner.enabled -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "admissionController.scanner.fullname" . }}
  labels:
    {{ include "admissionController.scanner.labels" . | nindent 4 }}
data:
  SECURE_BASE_URL: "{{ include "admissionController.secureUrl" . }}"
  SECURE_SKIP_TLS: "{{ not .Values.verifySSL }}"
  REGISTRY_SKIP_TLS: "{{ not .Values.scanner.verifyRegistryTLS }}"
  {{- if .Values.scanner.dockerCfgSecretName }}
  REGISTRY_DOCKERCFG_PATH: /dockerauth/.dockercfg
  {{- end }}
{{- end -}}
