{{- if .Values.scanner.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "admissionController.scanner.fullname" . }}
  namespace: {{ include "admissionController.namespace" . }}
  labels:
    {{- include "admissionController.scanner.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.scanner.replicaCount }}
  selector:
    matchLabels:
      {{- include "admissionController.scanner.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
      {{- with .Values.scanner.podAnnotations }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
        checksum/configmap: {{ include (print $.Template.BasePath "/scanner/configmap.yaml") . | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/scanner/secret.yaml") . | sha256sum }}
      labels:
        {{- include "admissionController.scanner.labels" . | nindent 8 }}
    spec:
      {{- if .Values.global.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.global.image.pullSecrets | nindent 8 }}
      {{- else if .Values.scanner.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.scanner.imagePullSecrets | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "admissionController.scanner.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.scanner.podSecurityContext | nindent 8 }}
      volumes:
        - name: tmp-dir
          emptyDir: {}
        {{- if .Values.scanner.dockerCfgSecretName }}
        - name: dockercfg
          secret:
            defaultMode: 420
            secretName: {{ .Values.scanner.dockerCfgSecretName }}
        {{- end }}
        {{- if .Values.scanner.ssl.ca.cert }}
        - name: ca-cert
          secret:
            secretName: {{ include "admissionController.scanner.fullname" . }}-ca
        {{- end }}
      containers:
        - name: inline-scanner
          securityContext:
            {{- toYaml .Values.scanner.securityContext | nindent 12 }}
          image: "{{ include "admissionController.scanner.image" . }}"
          volumeMounts:
            - mountPath: /tmp
              name: tmp-dir
            {{- if .Values.scanner.dockerCfgSecretName }}
            - mountPath: /dockerauth
              name: dockercfg
              readOnly: true
            {{- end }}
            {{- if .Values.scanner.ssl.ca.cert }}
            - name: ca-cert
              mountPath: /ca-cert
              readOnly: true
            {{- end }}
          {{- if .Values.scanner.customEntryPoint }}
          command: {{ .Values.scanner.customEntryPoint | toYaml | nindent 10 }}
          {{- else }}
          args:
            - --server_port={{ .Values.scanner.service.port }}
            {{- if .Values.scanner.authWithSecureToken }}
            - --auth_secure_token
            {{- end }}
          {{- end }}
          imagePullPolicy: {{ .Values.global.image.pullPolicy | default .Values.scanner.image.pullPolicy }}
          env:
            {{- if (or (include "scanner.httpProxy" .) (include "scanner.httpsProxy" .) (include "scanner.noProxy" .) )}}
            - name: HTTP_PROXY
              value: {{ include "scanner.httpProxy" . }}
            - name: HTTPS_PROXY
              value: {{ include "scanner.httpsProxy" . }}
            - name: NO_PROXY
              value: {{ include "scanner.noProxy" . }}
            {{- end }}
            {{- if .Values.scanner.ssl.ca.cert }}
            - name: SSL_CERT_FILE
              value: /ca-cert/root_ca_file.crt # mounted from the secret
            {{- end }}
          envFrom:
            - configMapRef:
                name: {{ include "admissionController.scanner.fullname" . }}
            {{- if or (include "sysdig.secureAPIToken" .) (include "sysdig.secureAPITokenSecret" .) }}
            - secretRef:
                {{- if include "sysdig.secureAPIToken" . }}
                name: {{ include "admissionController.scanner.fullname" . }}-api-token
                {{- else }}
                name: {{ include "sysdig.secureAPITokenSecret" . }}
                {{- end }}
            - secretRef:
                {{- if include "sysdig.secureAPIToken" . }}
                name: {{ include "admissionController.scanner.fullname" . }}-auth
                {{- else }}
                name: {{ include "sysdig.secureAPITokenSecret" . }}
                {{- end }}
            {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.scanner.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.scanner.resources | nindent 12 }}
      {{- with .Values.scanner.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.scanner.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.scanner.priorityClassName }}
      priorityClassName: "{{ .Values.scanner.priorityClassName }}"
      {{- end }}
      {{- with .Values.scanner.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}
