{{- if .Values.scanner.enabled -}}
{{- if not .Values.sysdig.existingSecureAPITokenSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admission-controller.scanner.fullname" . }}-api-token
  labels:
    {{ include "admission-controller.scanner.labels" . | nindent 4 }}
stringData:
  SECURE_API_TOKEN: {{ .Values.sysdig.secureAPIToken }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "admission-controller.scanner.fullname" . }}-auth
  labels:
    {{ include "admission-controller.scanner.labels" . | nindent 4 }}
stringData:
  AUTH_BEARER_TOKEN: {{ .Values.sysdig.secureAPIToken }}
{{- end -}}
{{- end -}}
