{{- if .Values.scanner.enabled -}}
{{- if .Values.serviceAccounts.scanner.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "admission-controller.scanner.serviceAccountName" . }}
  labels:
    {{- include "admission-controller.scanner.labels" . | nindent 4 }}
  {{- with .Values.serviceAccounts.scanner.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
{{- end }}
