{{- if .Values.scanner.enabled -}}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "admissionController.scanner.fullname" . }}
  labels:
    {{- include "admissionController.scanner.labels" . | nindent 4 }}
spec:
  type: {{ .Values.scanner.service.type }}
  ports:
    - name: https
      port: {{ .Values.scanner.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "admissionController.scanner.selectorLabels" . | nindent 4 }}
{{- end -}}
