# Default values for Sysdig Stackdriver Bridge.

image:
  repository: sysdiglabs/stackdriver-webhook-bridge
  pullPolicy: IfNotPresent
  tag:

secret:
  # If this is true, the chart will create the Secret and pass in secret.data as key.json.
  create: false
  data: ''
  # Secret name that contains GCP SA creds for the stackdriver Service Account.
  name: stackdriver-webhook-bridge

settings:
  # Settings for ConfigMap
  forwardURL: http://sysdig-agent.sysdig-agent.svc.cluster.local:7765/k8s_audit
  projectID:
  clusterID:
  logFile:
  outFile:
  pollInterval: 5s
  lagInterval: 30s
  logLevel: info
