apiVersion: v2
name: sysdig-deploy
description: A chart with various Sysdig components for Kubernetes

type: application

version: 0.1.0

maintainers:
  - name: achandras
    email: ashwin.chandrasekar@sysdig.com
dependencies:
- name: agent
  # repository: https://artifactory.internal.sysdig.com/artifactory/helm
  repository: file://../agent
  version: ~1.0.0
  alias: agent
  condition: agent.enabled
