apiVersion: v2
name: sysdig-deploy
description: A chart with various Sysdig components for Kubernetes
type: application
version: 1.65.3
maintainers:
  - name: AlbertoBarba
    email: alberto.barba@sysdig.com
  - name: aroberts87
    email: adam.roberts@sysdig.com
  - name: francesco-furlan
    email: francesco.furlan@sysdig.com
  - name: iurly
    email: gerlando.falauto@sysdig.com
  - name: mavimo
    email: marcovito.moscaritolo@sysdig.com
home: https://www.sysdig.com/
icon: https://avatars.githubusercontent.com/u/5068817?s=200&v=4
dependencies:
  - name: admission-controller
    # repository: https://charts.sysdig.com
    repository: file://../admission-controller
    version: ~0.16.6
    alias: admissionController
    condition: admissionController.enabled
  - name: agent
    # repository: https://charts.sysdig.com
    repository: file://../agent
    version: ~1.29.4
    alias: agent
    condition: agent.enabled
  - name: common
    # repository: https://charts.sysdig.com
    repository: file://../common
    version: ~1.3.1
  - name: node-analyzer
    # repository: https://charts.sysdig.com
    repository: file://../node-analyzer
    version: ~1.32.2
    alias: nodeAnalyzer
    condition: nodeAnalyzer.enabled
  - name: cluster-scanner
    # repository: https://charts.sysdig.com
    repository: file://../cluster-scanner
    version: ~0.14.2
    alias: clusterScanner
    condition: clusterScanner.enabled
  - name: kspm-collector
    # repository: https://charts.sysdig.com
    repository: file://../kspm-collector
    version: ~0.16.2
    alias: kspmCollector
    condition: kspmCollector.enabled,global.kspm.deploy
  - name: rapid-response
    # repository: https://charts.sysdig.com
    repository: file://../rapid-response
    version: ~0.9.11
    alias: rapidResponse
    condition: rapidResponse.enabled
  - name: cluster-shield
    # repository: https://charts.sysdig.com
    repository: file://../cluster-shield
    version: ~1.3.1
    alias: clusterShield
    condition: clusterShield.enabled
