apiVersion: v2
name: sysdig-deploy
description: A chart with various Sysdig components for Kubernetes
type: application
version: 1.12.4
maintainers:
  - name: aroberts87
    email: adam.roberts@sysdig.com
  - name: lilx1ao
    email: zhongcheng.xiao@sysdig.com
home: https://www.sysdig.com/
icon: https://avatars.githubusercontent.com/u/5068817?s=200&v=4
dependencies:
  - name: admission-controller
    # repository: https://charts.sysdig.com
    repository: file://../admission-controller
    version: ~0.11.2
    alias: admissionController
    condition: admissionController.enabled
  - name: agent
    # repository: https://charts.sysdig.com
    repository: file://../agent
    version: ~1.10.1
    alias: agent
    condition: agent.enabled
  - name: common
    # repository: https://charts.sysdig.com
    repository: file://../common
    version: ~1.0.1
  - name: node-analyzer
    # repository: https://charts.sysdig.com
    repository: file://../node-analyzer
    version: ~1.10.2
    alias: nodeAnalyzer
    condition: nodeAnalyzer.enabled
  - name: cluster-scanner
    # repository: https://charts.sysdig.com
    repository: file://../cluster-scanner
    version: ~0.3.1
    alias: clusterScanner
    condition: clusterScanner.enabled
  - name: kspm-collector
    # repository: https://charts.sysdig.com
    repository: file://../kspm-collector
    version: ~0.3.2
    alias: kspmCollector
    condition: global.kspm.deploy
  - name: rapid-response
    # repository: https://charts.sysdig.com
    repository: file://../rapid-response
    version: ~0.6.1
    alias: rapidResponse
    condition: rapidResponse.enabled
