apiVersion: v2
name: sysdig-deploy
description: A chart with various Sysdig components for Kubernetes
type: application
version: 1.4.24
maintainers:
  - name: aroberts87
    email: adam.roberts@sysdig.com
  - name: ironashram
    email: michele.palazzi@sysdig.com
  - name: lilx1ao
    email: zhongcheng.xiao@sysdig.com
  - name: yashgiri
    email: yashgiri.goswami@sysdig.com
home: https://www.sysdig.com/
icon: https://478h5m1yrfsa3bbe262u7muv-wpengine.netdna-ssl.com/wp-content/uploads/2019/02/Shovel_600px.png
dependencies:
  - name: admission-controller
    # repository: https://charts.sysdig.com
    repository: file://../admission-controller
    version: ~0.7.11
    alias: admissionController
    condition: admissionController.enabled
  - name: agent
    # repository: https://charts.sysdig.com
    repository: file://../agent
    version: ~1.5.39
    alias: agent
    condition: agent.enabled
  - name: node-analyzer
    # repository: https://charts.sysdig.com
    repository: file://../node-analyzer
    version: ~1.7.42
    alias: nodeAnalyzer
    condition: nodeAnalyzer.enabled
  - name: kspm-collector
    # repository: https://charts.sysdig.com
    repository: file://../kspm-collector
    version: ~0.1.21
    alias: kspmCollector
    condition: global.kspm.deploy
  - name: rapid-response
    # repository: https://charts.sysdig.com
    repository: file://../rapid-response
    version: ~0.2.8
    alias: rapidResponse
    condition: rapidResponse.enabled
