apiVersion: v2
name: sysdig-deploy
description: A chart with various Sysdig components for Kubernetes

type: application

version: 0.1.9

maintainers:
  - name: achandras
    email: ashwin.chandrasekar@sysdig.com

home: https://www.sysdig.com/
icon: https://478h5m1yrfsa3bbe262u7muv-wpengine.netdna-ssl.com/wp-content/uploads/2019/02/Shovel_600px.png

dependencies:
- name: agent
  # repository: https://charts.sysdig.com
  repository: file://../agent
  version: ~1.5.0
  alias: agent
  condition: agent.enabled
- name: node-analyzer
  # repository: https://charts.sysdig.com
  repository: file://../node-analyzer
  version: ~1.5.0
  alias: nodeAnalyzer
  condition: nodeAnalyzer.enabled
- name: kspm-collector
  # repository: https://charts.sysdig.com
  repository: file://../kspm-collector
  version: ~0.1.0
  alias: kspmCollector
  condition: kspmCollector.enabled
