global:
  clusterConfig:
    # name to identify this cluster for events and metrics
    name: ""
  sysdig:
    accessKey: ""
    accessKeySecret: ""
    secureAPIToken: ""
    secureAPITokenSecret: ""
    region: "us1"
    tags: {}
  proxy: {}
  kspm:
    deploy: false
  agentConfigmapName: "sysdig-agent"
  gke:
    autopilot: false

admissionController:
  enabled: false

agent:
  enabled: true

nodeAnalyzer:
  enabled: true
  nodeAnalyzer:
    kspmAnalyzer:
      image:
        tag: 1.17.8-rc

    kspmCollector:
      image:
        tag: 1.17.7-rc

rapidResponse:
  enabled: false
  rapidResponse:
    passphrase: ""
    existingPassphraseSecret: ""
