global:
  clusterConfig:
    name: ""  # name to identify this cluster for events and metrics
  sysdig:
    accessKey: ""
    accessKeySecret: ""
    region: "us1"
  proxy: {}
  kspm:
    deploy: false
  agentConfigmapName: "sysdig-agent"
  gke:
    autopilot: false

agent:
  enabled: true

nodeAnalyzer:
  enabled: true

rapidResponse:
  enabled: false
  rapidResponse:
    passphrase: ""
    existingPassphraseSecret: ""
