global:
  clusterConfig:
    # name to identify this cluster for events and metrics
    name: ""
  sysdig:
    accessKey: ""
    accessKeySecret: ""
    secureAPIToken: ""
    secureAPITokenSecret: ""
    region: "us1"
    tags: {}
  proxy: {}
  kspm:
    deploy: true
  agentConfigmapName: "sysdig-agent"
  gke:
    autopilot: false

admissionController:
  enabled: false

agent:
  enabled: true

nodeAnalyzer:
  enabled: true

rapidResponse:
  enabled: false
  rapidResponse:
    passphrase: ""
    existingPassphraseSecret: ""
