resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- digest: sha256:a6db1d5a78e60f225d7eb52abd607ea5b9d469ae854a651b91f48a0f2fa48803
  name: controller
  newName: quay.io/sysdig/rh-shield-operator
