apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "fullname" . }}
  labels:
    app: {{ template "name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: {{ template "name" . }}
        release: {{ .Release.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - containerPort: {{ .Values.service.internalPort }}
        securityContext:
          runAsUser: 0
        resources:
{{ toYaml .Values.resources | indent 12 }}
        volumeMounts:
        - name: nginx-configs
          mountPath: /etc/nginx/conf.d
      restartPolicy: Always
      volumes:
        - name: nginx-configs
          configMap:
            name: {{ template "fullname" . }}-config
