# Can be set to true to show debug logging, useful for troubleshooting.
debug: false

# Default values for Sysdig CSPM Collector
global:
  clusterConfig: {}
  sysdig:
    region: "us1"
  proxy: {}

sysdig:
  # Required: You need your Sysdig access key before running agents, either specifying 'accessKey' here, or using 'existingAccessKeySecret'
  accessKey: ""
  # Alternatively, specify the name of a Kubernetes secret containing an 'access-key' entry
  existingAccessKeySecret: ""

# The API endpoint for Sysdig Secure, specified with no protocol:
# * SaaS default region (US East): secure.sysdig.com
# * SaaS US Web: us2.app.sysdig.com
# * SaaS European Union: eu1.app.sysdig.com
# * On-Prem: sysdig.my.company.com
apiEndpoint: ""

# Override value for the NATS service endpoint
natsUrl: ""

# Setting a cluster name allows you to filter events from this cluster using kubernetes.cluster.name
clusterName: ""

image:
  repository: sysdig/cspm-collector
  tag: 1.1.0
  digest:
  registry: quay.io
  pullPolicy: Always

rbac:
  # true here enables creation of rbac resources
  create: true

serviceAccount:
  # true here enables creation of service account
  create: true
  # Use this value as cspmCollectorServiceAccountName
  name: "cspm-collector"

replicas: 1

namespaces:
  included: ""
  excluded: ""

workloads:
  included: ""
  excluded: ""

healthIntervalMin: 5

resources:
  requests:
    cpu: 150m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1536Mi
