apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "host.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "host.labels" . | nindent 4 }}
data:
  host-shield.yaml: |
    {{- include "host.host_shield_config" . | nindent 4 }}
  dragent.yaml: |
    {{- include "host.configmap" . | nindent 4 }}
  {{- if .Values.features.investigations.event_forwarder.enabled }}
  local_forwarder_config.yaml: |
    integrations:
      {{- toYaml .Values.features.investigations.event_forwarder.integrations | nindent 6 }}
  {{- end }}
