apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "host.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "host.labels" . | nindent 4 }}
data:
  host-shield.yaml: |
    {{- include "host.host_shield_config" . | nindent 4 }}
  dragent.yaml: |
    {{- include "host.configmap" . | nindent 4 }}
  {{- if (include "host.prometheus_enabled" .Values.features) }}
  prometheus.yaml: |
    {{- with .Values.features }}
    {{- toYaml (dig (include "host.monitor_key" .) "prometheus" "prometheus_yaml" list .) | nindent 4 }}
    {{- end }}
  {{- end }}
