{{- if .Values.host.rbac.create }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "host.service_account_name" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "host.rbac_labels" . | nindent 4 }}
  annotations:
    helm.sh/hook: "pre-install,pre-upgrade"
    helm.sh/hook-weight: "-5"
  {{- with .Values.host.rbac.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
