apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "kspmCollector.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "kspmCollector.name" . }}
{{ include "kspmCollector.labels" . | indent 4 }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "kspmCollector.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "kspmCollector.name" . }}
{{ include "kspmCollector.labels" . | indent 8 }}
    spec:
      serviceAccountName: {{ template "kspmCollector.serviceAccountName" .}}
      containers:
      - name: {{ include "kspmCollector.name" . }}
        image: {{ template "kspmCollector.image.kspmCollector" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        resources:
{{ toYaml .Values.resources | indent 10 }}
        env:
          - name: ACCESS_KEY
            valueFrom:
              secretKeyRef:
                {{- if not ( include "kspmCollector.accessKeySecret" .) }}
                name: {{ template "kspmCollector.fullname" . }}
                {{- else }}
                name: {{ ( include "kspmCollector.accessKeySecret" .) }}
                {{- end }}
                key: access-key
          - name: CLUSTER_NAME
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: cluster_name
          - name: INCLUDED_NAMESPACES
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: included_namespaces
          - name: EXCLUDED_NAMESPACES
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: excluded_namespaces
          - name: INCLUDED_WORKLOADS
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: included_workloads
          - name: EXCLUDED_WORKLOADS
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: excluded_workloads
          - name: HEALTH_INTERVAL_MINUTES
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: health_interval_minutes
          - name: ENVIRONMENT
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: environment
          - name: EXTERNAL_NATS_URL
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: external_nats_url
          - name: VERIFY_CERTIFICATE
            valueFrom:
              configMapKeyRef:
                name: {{ template "kspmCollector.fullname" . }}
                key: ssl_verify_certificate
                optional: true
          - name: HTTP_PROXY
            valueFrom:
              configMapKeyRef:
                key: http_proxy
                name: {{ template "kspmCollector.fullname" . }}
                optional: true
          - name: HTTPS_PROXY
            valueFrom:
              configMapKeyRef:
                key: https_proxy
                name: {{ template "kspmCollector.fullname" . }}
                optional: true
          - name: NO_PROXY
            valueFrom:
              configMapKeyRef:
                key: no_proxy
                name: {{ template "kspmCollector.fullname" . }}
                optional: true
