{{- if and .Values.serviceAccount.create .Values.global.kspm.deploy }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ template "kspmCollector.serviceAccountName" .}}
  labels:
{{ include "kspmCollector.labels" . | indent 4 }}
{{- end }}
