apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cloud-bench.fullname" . }}
  labels:
    {{- include "cloud-bench.labels" . | nindent 4 }}
data:
  cloud-bench.yaml: |
    secureURL: {{ toYaml .Values.secureURL }}
    logLevel: {{ toYaml .Values.logLevel }}
    schedule: {{ toYaml .Values.schedule }}
    bechmarkType: {{ toYaml .Values.benchmarkType }}
    outputDir: {{ toYaml .Values.outputDir }}
    policyFile: {{ toYaml .Values.policyFile }}
