# Default values for registry-scanner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

cronjob:
  # The cronjob expression for registry scan scheduling. See https://crontab.guru/ for help.
  schedule: "0 6 * * 6"
  # The number of failed job history to keep on the cluster.
  failedJobsHistoryLimit: 5
  # The number of successful job history to keep on the cluster.
  successfulJobsHistoryLimit: 2
  # The restart policy for a failed registry scan execution.
  restartPolicy: Never
  # Timezone settings for the cronjob. Value default will be null to guarantee we only set the timezone if the user provides it.
  timeZone: ""

# Specify a volume claim to write the final JSON report there instead of standard output.
reportToPersistentVolumeClaim: ""

config:
  # The log level. Use one of the following: trace, debug, info, error.
  logging: "info"
  # The URL of the registry to scan.
  registryURL: ""
  # The API URL of the registry to scan. This is required if your registry type is Artifactory.
  registryApiUrl: ""
  # The username for registry authentication.
  registryUser: ""
  # The password for registry authentication.
  registryPassword: ""
  # Mandatory.<br/>The registry Type. Supported types: artifactory, ecr, icr, acr, quay, harbor, gar, gcr, nexus, ocp and dockerv2.
  registryType: ""
  # The account ID. Applicable only for ICR registry type.
  registryAccountId: ""
  # The ICR IAM API. Applicable only for ICR registry type.
  icrIamApi: ""
  # Ignore TLS certificate for IAM API. Applicable only for ICR registry type.
  icrIamApiSkipTLS: false
  aws:
    # The AWS credentials: `AccessKeyId`.
    accessKeyId: ""
    # The AWS credentials: `SecretAccessKey`.
    secretAccessKey: ""
    # For single account. It is the region where the registry is located.
    region: "us-east-1"
    # The management role ARN to be used to impersonate the member accounts.
    managementAccountRoleARN:
    # The member account role name (available in all member accounts) to dig into their registries.
    memberAccountsRoleName: "OrganizationAccountAccessRole"
    # The organization account IDs in which the registry scan is performed. If not configured, the scan will be performed in all the member accounts of the organization.
    allowListMemberAccountIDs: []
    # For organizational accounts. It is the AWS regions where the registries are located. If not configured, the scan will be performed in all available regions.
    allowListRegions: []
  # Ignore registry TLS certificate errors (self-signed, etc.).
  registrySkipTLS: false
  # Max number of retries to call the registtry APIs in case of failure or 409.
  registryMaxRetries: 10
  # Max wait time between retries.
  registryMaxRetryWait: 10m
  # Min wait time between retries.
  registryMinRetryWait: 5s
  # **required**
  # <br/> The Sysdig Secure Base URL.
  secureBaseURL: https://secure.sysdig.com
  # **required**
  # <br/> The API Token to access Sysdig Secure.
  secureAPIToken: ""
  # Specify that Sysdig Secure installation is on-prem.
  secureOnPrem: false
  # Ignore Sysdig Secure TLS certificate errors.
  secureSkipTLS: false
  # The maximum number of parallel job scan workers to spawn.
  maxWorkers: 5
  filter:
    # The list of regular expressions.<br/>Images matching any of these expressions are *always* included when scanning.
    include: []
    # The list of regular expressions.<br/>Images matching any of these expressions are excluded when scanning.
    exclude: []
    # Based on its creation date, excludes images older than the specified number of days.<br/>The maximum is 365 days.
    maxAgeDays: 90
    # Based on its creation date, newer ones take precedence, the maximum number of tags to scan per repository.<br/>The maximum is 50.
    maxTagsPerRepository: 5
    # The number of repositories to scan per registry.<br/>The maximum is 10000.
    maxRepositoriesPerRegistry: 500
  scan:
    # Override the default image for the inline scanner job.
    inlineScanImage: ""
    # The security context for the Inline Scanner container.
    securityContext: {}
      # capabilities:
      #   drop:
      #   - ALL
      # readOnlyRootFilesystem: true
      # runAsNonRoot: true
      # runAsUser: 1000
    orchestrator:
      # The Time to Live (ttl) value for the orchestrator job. Provide an empty value to accept the default.
      ttlSecondsAfterFinished: 3600
    jobs:
      # The ttl value for scanner worker jobs.
      ttlSecondsAfterFinished: 600
      resources:
        requests:
          # The memory request for the scanner job.
          memory: 500Mi
          # The CPU request for the scanner job.
          cpu: 500m
        limits:
          # The memory limit for the scanner job.
          memory: 2Gi
      # The size limit for the emptyDir volume used by the scanner job.<br/>
      # This volume is used to store both the vulnerability database and the image to scan.
      temporaryVolumeSizeLimit: 2Gi
      # NodeSelector for child jobs. If only .Values.nodeSelector is specified, child jobs will inherit the same nodeSelector as the main pod
      nodeSelector: {}
    # Force the scan to happen on the client component rather than relying on backend scanning
    disablePlatformScanning: false
  # Number of goroutines running in parallel in metadata phase for ECR Org setup.
  parallelGoRoutines: 100
ssl:
  ca:
    # For outbound connections.
    # <br/>List of PEM-encoded x509 certificate authority.
    certs: []
      # Example of certificate
      # - |
      #     -----BEGIN CERTIFICATE-----
      #     MIIDEzCCAfugAwIBAgIQKiv9U+KxPJzu1adXwC06RzANBgkqhkiG9w0BAQsFADAU
      #     MRIwEAYDVQQDEwloYXJib3ItY2EwHhcNMjIwMjIzMDY1NjExWhcNMjMwMjIzMDY1
      #     NjExWjAUMRIwEAYDVQQDEwloYXJib3ItY2EwggEiMA0GCSqGSIb3DQEBAQUAA4IB
      #     DwAwggEKAoIBAQCqiqSoGHDbQhULBpkS+4Ip4VLF36DZpT8CJ4rOBA5+8Cnjd3XY
      #     I+n1g6ta/s/6QMEy46rHUysGrmtb/G5+dDAzfNUuAJh2vJEb3Yt8ysihxPwxLie+
      #     85dgEQirruyruvR7zczRo1BVoa7Q5M9kMPnM6a+M5mEjnVoqwdD3g4QigkSQ2ewD
      #     7AwwOALgDd4duuUUoCz+IKr+8PWBHvCpRrgwSoVNjw8fckWb4fMLaChiyr9SZfpq
      #     qjR8rRq65Yb7etmpRew61czWMv2Tv45bz6xigdB/zWe6+qAFiHqXaHDyxytkji3C
      #     ZuBxa8Xl7xYfpcczEa1qh8ByAQyWzKN5xRY1AgMBAAGjYTBfMA4GA1UdDwEB/wQE
      #     AwICpDAdBgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwDwYDVR0TAQH/BAUw
      #     AwEB/zAdBgNVHQ4EFgQUslz034d5FUO+jSzlsgWlFeP/ogwwDQYJKoZIhvcNAQEL
      #     BQADggEBAJH3MIVEnnjB3XLA6cw61dWTtigLcA5caT5yEJALf126dBaPwFsOn0mi
      #     ehxdSRh+LrDzEN1MP9NJRpKQxMCy694sAzZGJggBhBGE6P0InLM56lBHlmqN2Cfy
      #     apwtueUtXm/GoB+3FEsRnjl7qzi40oadosdu0pIrqvviTjmbfm6CfxaW4crAu6Ev
      #     3fl41WW/2WWzFU7KV7ApfRfzJUZ82vo8n6CXv2ogt7DOrAE4l27KS5oqNu8K5STh
      #     FdNM4fBjDhoRhwIrurHDGabsIJa+0yThwRQSSafereqredfafLOHqV/ar6S63BGe
      #     MMNlTAQ9fvdNOTzZntye0PQYR5SR13E=
      #     -----END CERTIFICATE-----

# The additional labels to add to CronJob and Scanning Jobs. The custom labels to be added to kubernetes manifests of all the resources created.
customLabels: {}

proxy:
  # The URL of the proxy for HTTP connections. Leave it empty if not using proxy, which sets the `http_proxy` environment variable.
  httpProxy:
  #  The URL of the proxy for HTTPS connections. Leave it empty if not using proxy, which sets the `https_proxy` environment variable.
  httpsProxy:
  # The comma-separated list of domain extensions proxy should not be used for.
  # Include the internal IP of the Kube API server in noProxy configuration.
  # You probably need to add your registry if it is inside the cluster.
  noProxy:

image:
  # The Sysdig Registry Scanner image registry.
  registry: quay.io
  # The Sysdig Registry Scanner image repository.
  repository: sysdig/registry-scanner
  # The Registry Scanner image tag. If empty, default to appVersion in `Chart.yaml`.
  tag:
  # The PullPolicy for Registry Scanner image.
  pullPolicy: Always

serviceAccount:
  # Specifies whether a service account should be created.
  create: true
  # The additional annotations to add to the service account.
  annotations: {}
  # The name of the service account to use.
  # If the value is not set and create is set to `true`, a name is generated using the fullname template.
  name: ""

# The image pull secrets.
imagePullSecrets: []
# The chart name override
nameOverride: ""
# The chart fullname override
fullnameOverride: ""

# Specify the name of a Kubernetes secret containing 'secureAPIToken', 'registryUser', and 'registryPassword' entries.
# If you are using `ecr` as `registryType`, ensure that you add 'accessKeyId', 'secretAccessKey', and 'region' entries.
existingSecretName: ""

# Pod annotations for the Registry scanner.
podAnnotations: {}
# Security context for Registry Scanner pod.
# podSecurityContext: {}
  # fsGroup: 2000

# Security context for Registry Scanner container.
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# Resource limits for the main registry scanner orchestrator.<br/>For scanner job resources, use `config.scan.jobs.resources`.
resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This choice supports the environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi
# Configure `nodeSelector` for scheduling the registry scanner pod.
# nodeSelector: {}
# Configure tolerations for scheduling the registry scanner pod.
# tolerations: []
# Configure affinity for scheduling the registry scanner pod.
# affinity: {}

scanOnStart:
  # Specify whether to start the post-install scanner job, in addition to the cronjob.
  # <br/>Beware that `concurrencyPolicy` does not work on jobs (only cronjobs).
  # <br/>Always check for active scanning and if so, remove it.
  enabled: false
  # The name of the job created for the post-install scanner job
  jobName: "registry-scanner-start-test"
  # Specify whether to launch the job as a post-install helm hook.
  # <br/>Used for testing purpose.
  asPostInstallHook: false

# The additional environment variables to be set.
extraEnvVars: []
#  - name: FOO
#    value: bar

# Write memory profile dumps to Persistent Volume Claim (provide PVC name)
memProfileToPersistentVolumeClaim: ""
