# basic Default values for cluster-scanner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  clusterConfig:
    # The name of the cluster. Make sure to set a unique value for all the
    # clusters being inspected.
    name: ""
  sysdig:
    # Your Sysdig Agent Access Key
    accessKey: ""
    # Region name for Sysdig. Valid options: `us1`, `us2`, `us3`, `us4`, `eu1`,
    # `au1`.
    #
    # When no region is suitable (e.g. on-premise installations) set the
    # `global.sysdig.apiHost: ""` parameter.
    region: "us1"
    # apiHost: ""
    # apiHost is used to manually set the Sysdig backend host
    # Must have the protocol (http:// or https://)
  image:
    # The pull secrets for Cluster Scanner
    pullSecrets: []
    # The pull policy for Cluster Scanner
    pullPolicy: IfNotPresent

  # Set the logging level to use, useful for troubleshooting. Valid values,
  # sorted by increasing level of verbosity are: `PANIC`, `FATAL`, `ERROR`,
  # `WARN`, `INFO`, `DEBUG`, `TRACE`.
  loggingLevel: "INFO"

# Enables Sysdig Eve to retrieve the list of running packages.
eveEnabled: false
# Enables the integration with Sysdig Eve. Stores the list of running packages
# to Sysdig backend. It implies `eveEnabled: true`.
eveIntegrationEnabled: false
# The namespace to use to retrieve the cluster UID
rootNamespace: "kube-system"

replicaCount: 2

# The scannerMode of the Cluster Scanner. Supported values are `local` or
# `multi`. Please refer to docs.sysdig.com for further documentation.
scannerMode: "local"

# Optional parameter used to check the compatibility of cluster-scanner
# component versions with respect to the onprem backend version.
#
# If you are running an on-prem version of Sysdig Backend make sure to set
# this parameter with the version of Sysdig Backend you are using.
#
# E.g. if `onPremCompatibilityVersion=6.2`, we make sure that the image
# tag is < 1.0.0 for both the Runtime Status Integrator and the Image SBOM
# Extractor.
onPremCompatibilityVersion: "6.2"

# Can be set to false to allow insecure connections to the Sysdig backend,
# such as for on-premise installs that use self-signed certificates.
# By default, certificates are always verified.
sslVerifyCertificate: true

runtimeStatusIntegrator:
  image:
    # The image registry to use for the Runtime Status Integrator component of
    # Cluster Scanner
    registry: quay.io
    # The image repository to use for pulling the Runtime Status Integrator
    # image
    repository: sysdig/runtime-status-integrator
    tag: "0.4.2"
  # Params to manage leader election
  # Leader election is implemented leveraging the native capabilities of
  # Kubernetes see: https://kubernetes.io/blog/2016/01/simple-leader-election-with-kubernetes/
  # leaderElectionLeaseNameOverride: ""
  # leaderElectionLeaseNamespaceOverride: ""

  # When the Cluster Scanner is running in `multi` mode, set the secret name to
  # be used to retrieve the kubeconfig configuration to connect to the clusters
  # to inspect.
  multiCluster:
    # kubeconfigSecretName: ""

  # Restrict access to specific Docker secrets when Cluster Scanner is running
  # in `local` mode. The default behavior is listing all secrets. See
  # `values.yaml` for an example. Optional.
  localCluster:
    # rbac:
    #   allowedPullSecrets:
    #     namespaceOneName:
    #       - myDockerSecretOne
    #       - myDockerSecretTwo
    #     anotherNamespace:
    #       - myOtherDockerSecretOne
    #       - myOtherDockerSecretTwo

  ports:
    # The port to be used to expose prometheus metrics for the Runtime Status
    # Integrator
    metrics: 25000
    # The port to be used for healthcheck probes for the Runtime Status
    # Integrator
    probes: 7000
    # The port to be used for pprof by the Runtime Status Integrator. You must
    # explicitly enable pprof with the `pprofEnabled` flag.
    pprof: 6060
  resources:
    limits:
      # Runtime Status Integrator CPU limit per replica
      cpu: "1"
      # Runtime Status Integrator Memory limit per replica
      memory: 350Mi
    requests:
      # Runtime Status Integrator CPU requests per replica
      cpu: "350m"
      # Runtime Status Integrator Memory requests per replica
      memory: 350Mi

  # Set to `true` to enable the `pprof` profiler for the Runtime Status Integrator.
  # Used for debugging purposes. **DO NOT SET** to `true` in production.
  pprofEnabled: false

  natsJS:
    # The username to be used in the NATS JetStream instance the Runtime Status
    # Integrator is going to start
    user: "default-user"
    # Default uses a random password for each installation.
    # password: ""

imageSbomExtractor:
  image:
    # The image registry to use for the Image SBOM Extractor component of
    # Cluster Scanner
    registry: quay.io
    # The image repository to use for pulling the Image SBOM Extractor image
    repository: sysdig/image-sbom-extractor
    tag: "0.4.2"
  ports:
    # The port to be used to expose prometheus metrics for the Image SBOM
    # Extractor
    metrics: 25001
    # The port to be used for healthcheck probes for the Image SBOM Extractor
    probes: 7001
    # The port to be used for pprof by the Image SBOM Extractor. You must
    # explicitly enable pprof with the `pprofEnabled` flag.
    pprof: 6061
  resources:
    limits:
      # Image SBOM Extractor CPU limit per replica
      cpu: "1"
      # Image SBOM Extractor Memory limit per replica
      memory: 350Mi
    requests:
      # Image SBOM Extractor CPU requests per replica
      cpu: "150m"
      # Image SBOM Extractor Memory requests per replica
      memory: 350Mi

  # Set to `true` to enable the `pprof` profiler for the Image Sbom Extractor.
  # Used for debugging purposes. **DO NOT SET** to `true` in production.
  pprofEnabled: false

  cache:
    # The type of cache to use.
    # Allowed values are `local`, `distributed` and `distributed,local`.
    # When specified more than one, the cache precedence will be applied from right to left.
    # Eg: `distributed,local` will try to hit the local one first, than fallback to distributed one (redis)
    # When setting `distributed`, you should also setup redis settings below accordingly with your redis installation.
    type: "local"
    # Additional configuration parameters for the local cache
    local:
      # The maximum size in bytes of the local cache. By default it is set to 35MB
      maxSizeBytes: "36700160"
      # When using `local` as cache type, restrict the maximum size of elements to be cached.
      # By default it is set to 100KB
      maxElementSizeBytes: "102400"
      # The TTL for items in the local cache. By default it is set to 7 days.
      ttl: "168h"
    # Redis connection details (to be provided if the cache type is "distributed")
    # redis:
    #   address: ""
    #   user: ""
    #   password: ""
    #   database: ""
    #   prefix: ""
    #   tlsEnabled: false
    #   tlsSkip: ""
    #   tlsCa: ""
    #   sentinelMaster: ""
    #   sentinelAddress: ""
    #   ttl: "168h" # Default ttl is 7 days

# Chart name override
nameOverride: ""
# Chart full name override
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname
  # template
  name: ""

# Set Cluster Scanner pod annotations
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "25000"

# Set Cluster Scanner pod security context
podSecurityContext: {}
  # fsGroup: 2000

# Set Cluster Scanner security context
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# Set Cluster Scanner Selector Labels
selectorLabels: {}

# Set Cluster Scanner Node Selector
nodeSelector: {}

# Set Cluster Scanner scheduling tolerations
tolerations: []

# Set Cluster Scanner affinity
affinity: {}
