# basic Default values for cluster-scanner.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  clusterConfig:
    name: ""
  sysdig:
    accessKey: ""
    # When no region is suitable (e.g. on-premise installations) set the `apiHost:` parameter.
    region: "us1"
    # apiHost: ""
    # apiHost is used to manually set the Sysdig backend host
    # Must have the protocol (http:// or https://)

    # skipVerifyCertificate might be used in on-premise installations.
    skipVerifyCertificate: false

  scannerMode: "local"  # or "multi"
  loggingLevel: "INFO"

eveEnabled: false
eveIntegrationEnabled: false
rootNamespace: "kube-system"

replicaCount: 2

runtimeStatusIntegrator:
  image:
    registry: quay.io
    repository: sysdig/runtime-status-integrator
    pullPolicy: IfNotPresent
    tag: "0.1.0"
  # Params to manage leader election
  # Leader election is implemented leveraging the native capabilities of Kubernetes
  # see: https://kubernetes.io/blog/2016/01/simple-leader-election-with-kubernetes/
  # leaderElectionLeaseNameOverride: ""
  # leaderElectionLeaseNamespaceOverride: ""

  multiCluster:
    # kubeconfigSecretName: ""

  localCluster:
    # restrict access to specific docker secrets to obtain pull credentials. Optional.
    # Default behaviour is listing all secrets
    # rbac:
    #   allowedPullSecrets:
    #     namespaceOneName:
    #       - myDockerSecretOne
    #       - myDockerSecretTwo
    #     anotherNamespace:
    #       - myOtherDockerSecretOne
    #       - myOtherDockerSecretTwo

  ports:
    metrics: 25000
    probes: 7000
  resources:
    limits:
      cpu: "1"
      memory: 350Mi
    requests:
      cpu: "350m"
      memory: 350Mi

  natsJS:
    user: "default-user"
    # Default uses a random password for each installation.
    # password: ""

imageSbomExtractor:
  image:
    registry: quay.io
    repository: sysdig/image-sbom-extractor
    pullPolicy: IfNotPresent
    tag: "0.1.0"
  ports:
    metrics: 25001
    probes: 7001
  resources:
    limits:
      cpu: "1"
      memory: 350Mi
    requests:
      cpu: "150m"
      memory: 350Mi

  cache:
    type: "local"  # other possible value is "redis"
    prefix: "sysdig-cluster-scanner"
    # redis:
    #   address: ""
    #   user: ""
    #   password: ""
    #   database: ""
    #   tlsEnabled: false
    #   tlsSkip: ""
    #   tlsCa: ""
    #   sentinelMaster: ""
    #   sentinelAddress: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "25000"

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

selectorLabels: {}

nodeSelector: {}

tolerations: []

affinity: {}
