name: Helm Unit Tests

on:
  pull_request:

jobs:
  Unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.4.0

      - name: Set up helm unit test plugin
        run: make deps-unittest

      - name: Bundle chart dependencies
        run: make deps

      - name: Test admission-controller
        run: helm unittest --strict ./charts/admission-controller

      - name: Test agent
        run: helm unittest --strict ./charts/agent

      - name: Test cloud-bench
        run: helm unittest --strict ./charts/cloud-bench

      - name: Test cloud-connector
        run: helm unittest --strict ./charts/cloud-connector

      - name: Test cloud-scanning
        run: helm unittest --strict ./charts/cloud-scanning

      - name: Test cluster-scanner
        run: helm unittest --strict ./charts/cluster-scanner

      - name: Test harbor-scanner-sysdig-secure
        run: helm unittest --strict ./charts/harbor-scanner-sysdig-secure

      - name: Test kspm-collector
        run: helm unittest --strict ./charts/kspm-collector

      - name: Test node-analyzer
        run: helm unittest --strict ./charts/node-analyzer

      - name: Test rapid-response
        run: helm unittest --strict ./charts/rapid-response

      - name: Test registry-scanner
        run: helm unittest --strict ./charts/registry-scanner

      - name: Test sysdig-deploy
        run: helm unittest --strict ./charts/sysdig-deploy

      - name: Test sysdig-mcm-navmenu
        run: helm unittest --strict ./charts/sysdig-mcm-navmenu

      - name: Test sysdig-stackdriver-bridge
        run: helm unittest --strict ./charts/sysdig-stackdriver-bridge
