---
name: Update bitnami/kubectl image reference for Helm tests

on:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  pull-requests: write

jobs:
  kubectl-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Updatecli in the runner
        uses: updatecli/updatecli-action@v2.67.0

      - name: Run Updatecli
        run: "updatecli apply --config .github/updatecli.d/config-update-bitnami-kubectl-image.yaml"
        env:
          GITHUB_TOKEN: "${{ secrets.TOOLS_JENKINS_ADMIN_ACCESS_GITHUB_TOKEN }}"
