name: Lint and Test Charts

on: pull_request

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.0

      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - uses: actions/setup-go@v3
        with:
          go-version: '^1.18'
          check-latest: true

      - name: Install pre-commit
        run: pip install pre-commit

      - name: Check pre-commit
        run: |
          pre-commit run -a --show-diff-on-failure
          git clean -df .

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.2.0

      - name: Expand templates for CI
        run: |
          find -iname "*.yaml.template" | xargs -L1 -- bash -c 'envsubst < $0 > ${0%.template}'
        shell: bash
        env:
          SECURE_API_TOKEN: ${{ secrets.KUBELAB_SECURE_API_TOKEN }}
          SECURE_AGENT_TOKEN: ${{ secrets.KUBELAB_AGENT_KEY }}

      - name: Run chart-testing (lint)
        run: ct lint

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Set up testing cluster
        uses: jupyterhub/action-k3s-helm@v3
        with:
          k3s-version: v1.23.9+k3s1

      - name: Run chart-testing (install)
        run: ct install
