name: PR Lint

on:
  pull_request_target:
    types: [opened, edited, reopened, synchronize]

jobs:
  pr-lint:
    permissions:
      pull-requests: write
    runs-on: tools-runner-small
    steps:
      - uses: morrisoncole/pr-lint-action@v1.7.0
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
          title-regex: "^(\\w*)(?:\\(([\\w\\$\\.\\,\\-\\*\\s]*)\\))?\\:\\s?(.*)$"
          on-failed-regex-fail-action: false
          on-failed-regex-create-review: true
          on-failed-regex-request-changes: true
          on-failed-regex-comment: "PR title does not comply with regex: `%regex%`! <br /> Check PR guidelines at https://github.com/sysdiglabs/charts/blob/master/README.md#pull-requests"
