name: Release the Shield Operator

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: 'The version of the operator to release'
        required: true
        type: string
jobs:
  build-and-push:
    name: Build and Push the Operator Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: '1'

      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_RH_SHIELD_OPERATOR_USERNAME }}
          password: ${{ secrets.QUAY_RH_SHIELD_OPERATOR_PASSWORD }}

      - name: Build and Push Operator and Bundle Images
        env:
          IMAGE_TAG_BASE: ${{ secrets.QUAY_RH_SHIELD_OPERATOR_IMAGE_TAG_BASE }}
          VERSION: ${{ github.event.inputs.release_version }}
        run: |
          make docker-build docker-push bundle bundle-build bundle-push
        working-directory: rh-shield-operator
